[2017-09-14 18:19] fabiand opened #1 "README and repository description"
Please add some human readable decriptions to tell the user what this repo is about.

[2017-09-15 13:00] lukas-bednar commented on #1
I don't have a permission to modify description of repository, but I suggest something like
[code]

[2017-09-15 13:07] lukas-bednar opened #2 "Add content based on consolidation of Petr's & Artyom's work"
Merge following two repositories

https://github.com/petrkotas/openshift-env
https://github.com/cynepco3hahue/kubevirt-ansible

As a result this repository contains Ansible roles & playbooks to deploy KubeVirt on
* stand alone K8S
* OpenShift deployment

cc @cynepco3hahue @petrkotas

We need to have some discussion how to proceed with merging process.

[2017-09-15 13:15] lukas-bednar opened #3 "Come up with testing process"
We need to think how to test our Ansible playbooks.

There were suggestions to go with Vagrant, but feel free to come with other ways.

[2017-09-15 15:05] cynepco3hahue commented on #2
@petrkotas @lukas-bednar I can see that Petr deployment concentrates at most on the `vagrant`, so maybe we can add roles from my repository, `Vagrantfile` from the Petr repository and adapt this Vagrantfile to use my roles?

[2017-09-15 15:06] cynepco3hahue commented on #2
Also, we can take my `README.md` and add a section for `vagrant` deployment.

[2017-09-15 15:37] lukas-bednar commented on #2
@cynepco3hahue ok, for start think you can push your changes here from your old repo ...

[code]

or you can consider to transfer ownership of your repo, to kubevirt-incubator.

[2017-09-15 15:42] petrkotas commented on #2
@cynepco3hahue Yes this was exactly my thinking. That we adapt your roles and use my vagrant :).

Best would be start with your repository as @lukas-bednar wrote and than add my changes.

I can do that so we have a starting point.

[2017-09-17 05:52] cynepco3hahue commented on #2
@petrkotas @lukas-bednar I added #4, so if it looks fine we can merge it and go on with Petr repository.

[2017-09-20 14:23] petrkotas commented on #3
Vagrant is actually nice option, it can be automated. However, guys in TLV are working on lago testing setup. I believe Gal is working on it.

What I would like to see, is automated deployment (vagrant, lago) and automated check, with checklist of what is OK and what NOT.

It will be ideal to have Gal join us and work with us on this together, since this way we do not replicate each others steps.

[2017-09-20 14:29] petrkotas commented on #2
I have taken look at #4 I can start on that.

[2017-09-21 07:26] fabiand opened #5 "Provide a playbook to deploy KubeVirt to an existing cluster"
There are playbooks to deploy kubevirt to a k8s or openshift cluster, but we also need to cover the use-case where a cluster already exists.

[2017-09-21 08:52] lukas-bednar opened #6 "The deploy playbooks doesn't populate KubeVirt pods"
After running deployment playbook I would expect to see populated KubeVirt's pods, for virtualization

on behalf of @cynepco3hahue

In additional openshift does not support CustomResourseDefinition, with this patch we will get rid of it
kubevirt/kubevirt#355

copied from https://github.com/cynepco3hahue/kubevirt-ansible/issues/6

[2017-09-21 08:55] lukas-bednar opened #7 "Ensure consistency of selectorNode over whole deloyment process"
In order to deploy KubeVirt pods on master node, we need to set selectorNode in manifests.
Right now the playbook is taking FQDN of master node and use it as selector.

On other hand openshift-ansible allows you to change name of node in inventory file, and if this happen the assumption above will be false.

So we need to make sure that we have proper label assigned to node or take that `openshift

[2017-09-21 10:02] fabiand commented on #7
Another way to solve this is to get rid of the cluster specific details.

The work of @stu-gott to use api server aggregation shoudl do a large part here.
The remaining gap is to expose the proxy and fix [virt-api](https://github.com/kubevirt/kubevirt/issues/457).

The proxy exposure can then be done using ingress resources, which are cluster dependent.

With these changes we effectively change th

[2017-09-21 12:16] fabiand commented on #6
@lukas-bednar @cynepco3hahue is there an issue tracking the work needed to be done for the security contexts?

[2017-09-22 09:32] lukas-bednar commented on #6
@fabiand Only things I am aware of are that two PRs mentioned in description.

From my point of view, we are blocked only in OSP part because of CRD.

On K8S-only deployment, population of KubeVirt pods shouldn't be problem. We just need to load files under manifests directory as a part of our Ansible playbook.

[2017-10-02 11:29] cynepco3hahue commented on #1
@fabiand Can you please edit the repository description?

[2017-10-05 09:19] fabiand commented on #1
Done

[2017-10-05 09:19] #1 closed

[2017-10-10 09:32] lukas-bednar opened #11 "Kubernetes deployment fails on clean system to add rpm keys"
When you have clean system without any rpm keys installed the `rpm_key` ansible module fails to add any rpm keys.

It is not really problem of any playbook here, but I want to track that since it affects us: https://github.com/ansible/ansible/issues/31483

[2017-10-10 11:35] lukas-bednar commented on #11
Fixed

[2017-10-10 11:37] lukas-bednar commented on #11
The fix will be included in Ansible 2.5

[2017-10-11 07:47] lukas-bednar commented on #11
https://github.com/ansible/ansible/pull/31514#issuecomment-335557033

it should get into 2.4 as well

[2017-10-17 12:53] cynepco3hahue commented on #2
@petrkotas @lukas-bednar I think we added all base content, so I will close this one.

[2017-10-17 12:53] #2 closed

[2017-10-19 14:19] fabiand opened #13 "Prepare an APB for KubeVirt deployment to use with service-catalog"
Ansible Playbook Bundles can be used to containerize playbooks for easier deployment.

This issue is about tracking this progress.

Dependencies:

- Generalized manifests https://github.com/kubevirt/kubevirt/issues/265
- Playbooks
- APB

[2017-10-19 14:37] fabiand commented on #13
We are depending on https://github.com/openshift/openshift-restclient-python/issues/83 to be fixed - as the modules use the rest client.

[2017-10-19 15:43] lukas-bednar opened #15 "kubernetes-deploy playbook doesn't count with multiple masters"
https://github.com/kubevirt-incubator/kubevirt-ansible/blob/fce05169e39099c4438820aca27c6c300afc0ba0/kubernetes/roles/master/templates/deploy_kubernetes.j2#L21

it will always work with fist host in the group.

[2017-10-30 09:52] lukas-bednar commented on #11
fix was released in Ansible 2.4.1.0

[2017-10-30 09:52] #11 closed

[2017-10-30 11:10] lukas-bednar opened #18 "deploy-kubernetes: can not deploy on CentOS 7.4"
Kubernetes repository doesn't provide required `docker` package for CentOS 7.4

https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64

[code]

[2017-10-30 14:40] cynepco3hahue commented on #18
I thought it takes the docker package from `epel` repo.

[2017-10-30 15:43] lukas-bednar commented on #18
@cynepco3hahue hm, actually on 7.3 it comes from CentOS-Extra
[code]

[2017-11-23 16:07] rmohr commented on #7
Hi! It is not a requirement to have all kubevirt components on the master node. That was just for developing /testing.

[2017-11-30 15:07] lukas-bednar commented on #3
Relevant PR #24

[2017-12-11 15:31] fabiand opened #27 "Use kubevirt.yaml"
Since kubevirt v0.1.0 there is a manifest yaml part of the release which needs fewer hacks.

The playbook should use this.

https://github.com/kubevirt/kubevirt/releases/v0.1.0

[2017-12-11 15:33] fabiand opened #28 "Add openshift support (with commands)"
Based on #27 the following gist can be used in order to make it work on openshift:
https://gist.github.com/karmab/d9e8346b9005891dc8e83cc54eed32f2

The playbooks should be using teh commands - which are really clear!

[2017-12-14 15:06] fabiand commented on #5
You can now use #27 for this

[2017-12-14 15:09] fabiand commented on #13
This should also use #27 indirectly

[2017-12-14 15:12] fabiand commented on #27
We should actually support two flows:

- The current repo based flow, which is pulling yamls from repo
- The flow based on the release mnifest - linked in first comment

[2017-12-15 14:44] jcpowermac opened #32 "Reorganization proposal"
Hello,
I would like to help reorganize the playbooks and roles in this project but before I commit work it would be great to come to consensus what it should look like here are my suggestions:

- Create top-level roles, playbooks and inventory directories.  Move associated files to those locations.
- Modify `ansible.cfg` to support path changes
- Remove paths to roles in playbooks
- Optional suppo

[2017-12-21 12:03] gbenhaim commented on #32
Hi @jcpowermac,
I totally agree that the project needs reorganization.
From my POV this project has 2 main purposes:

1. Verify that Kubevirt is installable and usable on Kubernetes and Openshift using `kubevirt.yaml` and
     Ansible. I would be happy to consume an unstable release of `kubevirt.yaml` every time Kubevirt's
     containers are built, but we should discuss it with @fabiand . The pla

[2018-01-17 13:25] fabiand opened #38 "Step by step guide to explain how to deploy KubeVirt on OpenShift"
The readme should be extended to explain step by step how to deploy kubevirt to openshift

[2018-01-17 14:15] lukas-bednar opened #39 "Playbook deploy-openshift.yml doesn't work with ansible >= 2.4.1"
When trying to run playbook with ansible 2.4 and above (I tried 2.4.1 and 2.5.0)
Last working for me was ansible-2.4.0, also working with 2.3.1.

[code]

[2018-01-17 14:54] #5 closed

[2018-01-17 14:54] #27 closed

[2018-01-17 14:54] #28 closed

[2018-01-17 16:38] lukas-bednar commented on #32
@jcpowermac Hi I would like to move on with this issue.
I would like to join this effort with some clean up work as well.
As far as I understand to first suggestion, you want to following transformation
[code]
I am not sure what changes in ansible.cfg you have in mind by second point. Can you please elaborate?

[2018-01-18 16:31] gbenhaim commented on #3
@lukas-bednar I think that we can add an initial testing suite.
Do we go with Pytest?

[2018-01-18 16:32] gbenhaim opened #41 "Deploy a containerized version of Openshift"
Will accelerate the installation process

[2018-01-18 16:33] gbenhaim commented on #7
@lukas-bednar still relevant?

[2018-01-18 16:35] gbenhaim commented on #6
fixed https://github.com/kubevirt-incubator/kubevirt-ansible/pull/37

[2018-01-18 16:35] #6 closed

[2018-01-18 21:42] fabiand commented on #41
How come that it requires atomic?

[2018-01-19 10:27] lukas-bednar commented on #3
@gbenhaim when I submitted this issue, I had in mind that on every new PR the deployment playbook will be executed.
So something like std-ci executing our kubevirt-release-on-openshift-installation following by creating VM would be sufficient as a first step for me.

But today we have bigger matrix what we can do:
* kubevirt-install `mode=release` vs `mode=dev`
* on openshift vs k8s

What exactly

[2018-01-19 11:01] gbenhaim commented on #3
- I think that we should start with `mode=release` on openshift. In the following weeks std-ci will allow configuring `sub-stages` that run in parallel, with this feature we can run both openshift and k8s CI per PR.

- Will the tests be written in python with pytest as the testing framework?

[2018-01-19 11:42] lukas-bednar commented on #3
@gbenhaim  thumb up for `sub-stages` that sounds good.
Regarding to pytest, what exactly you want to test ? In the context of this repository we need to make sure that in-coming changes doesn't break our playbooks. Do you have something else in mind ?

[2018-01-19 12:21] gbenhaim commented on #3
in-coming changes from where?

[2018-01-19 12:22] gbenhaim commented on #41
No need for atomic, I've edited the issue.

[2018-01-19 13:09] lukas-bednar commented on #3
@gbenhaim from world via PRs

[2018-01-19 14:03] lukas-bednar opened #43 "Improve user experience of install-kubevirt-release playbook"
Right now playbook runs inside of mock as a part of lago environment, I would like to see it to be able to run also outside of mock under regular user.

- [ ] Extend readme with guide how to install KubeVirt release on existing cluster, step by step
- [x] Playbook itself shouldn't require root user to execute playbook
- [ ] Add minimal inventory file with necessary parameters to install KubeVirt r

[2018-01-23 10:22] fabiand commented on #43
@lukas-bednar why is the local root user required?

[2018-01-23 11:46] lukas-bednar commented on #43
@fabiand playbook is adding master node to `/etc/hosts`.
https://github.com/kubevirt-incubator/kubevirt-ansible/blob/0e5ae43551e1b50e569a303e9ca53e02b5705988/install-kubevirt-release.yml#L31-L35

[2018-01-23 13:29] gbenhaim commented on #43
The purpose of `install-kubevirt-release.yml`  is to emulate the tasks that are done for you by the
APB.

A couple of notes:
- What do you mean by saying `add minimal inventory file with credentials and master node` ?
- Which part of the playbook makes it tied to lago?
- `openshift/roles/kubevirt` will be the basis for an APB, it shouldn't handle the login process to the cluster, because the APB i

[2018-01-23 14:56] lukas-bednar commented on #43
@gbenhaim I changed title & improved description

I meant that the inventory file example, contains many parameters related to OCP / K8S deployment, which are not necessary for installation KubeVirt on running cluster.
I would add inventory file for installation of KubeVirt only with mandatory options only, or it is enough just document them in readme properly.

I meant outside of mock, as a non-r

[2018-01-23 17:22] gbenhaim commented on #43
I think that mandatory options can be specified directly to ` install-kubevirt-release` via `-e`  flag of `ansible-playbook` command.

[2018-01-23 17:28] gbenhaim commented on #3
- If an incoming PR breaks our CI, we won't merge it.
- If a change in kubevirt breaks our CI, then we will have to decide if it's a bug in kubevirt or in kubevirt ansible.
- I think that we should start with start/shell/stop VM. If those tests will run in the CI, and there is a failure, it will be easy to share the logs with the guys from kubevirt, so I think that this task is pretty urgent,

[2018-01-23 21:09] fabiand commented on #43
Could an IP be used instead of a name?

Also - this is primarily relevant for vagrant setup - not for kube in general. In other words: It's only relevant if DNS is not working properly.

[2018-01-25 11:39] gbenhaim commented on #43
Last time I have tried, `oc` command expected the cluster's hostname will be resolvable (even when trying to connect using an IP). I can verify it again...

[2018-01-25 11:40] gbenhaim commented on #3
@lukas-bednar thoughts?

[2018-01-25 11:47] gbenhaim opened #44 "Accelerate CI"
- [ ] Cache Openshift containers on the Jenkins slaves
- [x] Run test suite in parallel.
- [x] Don't run full system update, update just the required packages.
- [ ] Install only needed deps, for example when running `install-kubevirt-release.yml`, there is no need to install `andrewrothstein.go-dev` from ansible galaxy.
- [x] Add a profiler to Ansible
- [x] Use std-ci yum repos mirrors https://gi

[2018-01-25 12:40] lukas-bednar commented on #3
@gbenhaim as a start I would extend `automation/run.sh` script to make a REST API call to list kubevirt's pods. That could be enough as first step.
Then we could deploy demo testvm and make sure that it will get up and running.

That is my expectation from this ticket.

We can start with kubevirt on openshift in relase mode, note we should cover other scenarios which we have playbooks for.

If you

[2018-01-25 17:09] fabiand commented on #43
@gbenhaim hm - right - could you also try vagrant-hostmanager (dnf installable)?

We need to drop the root requirements.

[2018-01-25 17:10] fabiand commented on #3
Yes, i think starting a Vm is sufficient for onw.

ideally we can reuse the stock kubevirt functional tests and run them against the origin deployment.

[2018-01-25 17:10] fabiand commented on #3
/me things that we could build the tests intoa container to easily run thjem in ther environemts.

[2018-01-28 05:51] ifireball opened #46 "Fix project name in STDCI"
The STDCI functionality for this project is associated with the older project name, since the project was moved the configuration needs to be updated for the CI to work.

[2018-01-28 15:35] gbenhaim commented on #46
https://gerrit.ovirt.org/#/c/86856/

[2018-01-30 12:45] gbenhaim opened #47 "Try to use the test suite from Kubevirt's repo"

[2018-01-30 12:55] fabiand commented on #47
Makes sense.

All functests are compiled into a binary (`tests.test`) this binary can be run against other K8s or Origin instances, kubevirt uses:

[code]

But you can obviously use a different kubeconfig.

Also, tests.test could also be shipped in a container for convenience.

[2018-02-01 09:32] gbenhaim commented on #46
fixed

[2018-02-01 09:32] #46 closed

[2018-02-01 09:32] gbenhaim opened #48 "Merge kubevirt-ansible and kubevirt-apb"

[2018-02-01 10:12] fabiand commented on #48
Where is kubevirt-apb located? :)

[2018-02-01 10:57] lukas-bednar commented on #48
@fabiand https://github.com/ansibleplaybookbundle/kubevirt-apb

[2018-02-02 03:29] gouyang opened #52 "Why it need to remove firewalld and NetworkManager packages"
I'm trying to preparing kubernetes cluster and deploy KubeVirt on my fedora 27 workstation, my system crashed because the playbook removes NetworkManager and all its dependencies. I know it's better to use a server to run the playbooks, but it would be better to be able run it on user's workstation, especially for those who just come to the project.

[2018-02-02 17:19] lukas-bednar opened #54 "We need to run with OpenShift 3.9 instead of 3.7"
There are KubeVirt features which doesn't work on 3.7 and we need to give option to people to deploy KubeVirt on the top of 3.9.

Be aware that `byo/config.yml` playbook doesn't exists 3.9: https://github.com/openshift/openshift-ansible/issues/6503

[2018-02-06 09:17] lukas-bednar commented on #43
Based on discussion with Gal, we came with conclusion that playbook `install-kubevirt-release.yml' is supposed to simulate APB, where it should run inside of APB container.

So we decided that we will add separate playbook for user, that is addressed in #57 .
It solves all aspects of this issue:
* no root user
* added spep by step guide and video how to install it
* dropped inventory file
* it use

[2018-02-06 11:47] #43 closed

[2018-02-07 21:17] aglitke commented on #39
Is there a workaround for this?  I am also hitting this error with ansible 2.4.2.0 on CentOS 7.

[2018-02-08 11:32] lukas-bednar commented on #39
@aglitke Unfortunately only workaround for now which we have here, is installing ansible==2.3.1

[2018-02-08 17:27] lukas-bednar opened #62 "Do we need flow mode=dev ?"
I think we don't need to maintain flow which deploys KubeVirt from sources.

[2018-02-08 17:42] lukas-bednar commented on #38
I hope this was covered in #57

[2018-02-09 07:51] #38 closed

[2018-02-09 07:52] fabiand commented on #62
I tend to agree.

If dev setup is needed, then a developer can build it from the sources.

Only releases must be covered by the ansible modules-

[2018-02-09 07:52] #62 closed

[2018-02-09 15:00] lukas-bednar commented on #18
@gbenhaim on what version of CentOS runs stdci ? is it 7.3 or 7.4 ?

[2018-02-09 17:47] lukas-bednar commented on #62
@fabiand ok we can remove this part from repository.

[2018-02-12 10:33] fabiand commented on #62
/cc @karmab

[2018-02-13 17:35] #39 closed

[2018-02-14 08:23] eedri opened #65 "Update README to reflect latest supported platform version"
Currently README states that supported platforms are:
CentOS Linux release 7.3.1611 (Core), OpenShift 3.7 and Ansible 2.3.1

We should probably create a new testing matrix table and include the currently supported versions
and the ones which are in progress.

e.g:

Supported | In Development
------------ | ------------------------
CentOS 7.4 | N/A
OpenShift 3.7 | OpenShift 3.9
Ansible 2.3.1 | Ansi

[2018-02-14 08:32] eedri commented on #32
Can we prioritize this? I can help if needed, I think as we prepare to get more contributions for additional projects, we have to simplify the folders structure to easy contribution.

Does it make sense to divide into subfolders like:

* Deploy on K8S
   * Deploy on existing cluster
   * Deploy on VMs using Lago
   * Deploy on VMs using Vagrant
   * Deploy on Bare Metal

* Deploy on OpenShift
   *

[2018-02-14 08:54] eedri commented on #32
Also, this should come with an overhaul of the README file, not sure if it belongs in this issue or another one.

[2018-02-14 09:54] lukas-bednar commented on #65
I can add such table in this pull request #60 .
But we moved forward with Ansible, now we run 2.4.2 for OpenShift 3.7 as well.

[2018-02-14 09:58] #65 closed

[2018-02-14 09:58] eedri commented on #65
duplicate #60

[2018-02-14 10:29] eedri commented on #18
@lukas-bednar at least in the lago flow, we're using el7.4 ( template name is el7.4-base )
https://github.com/kubevirt/kubevirt-ansible/blob/master/LagoInitFile.yml

[2018-02-14 10:56] lukas-bednar commented on #18
@eedri thanks for update, I will update readme accordingly.

[2018-02-14 10:57] fabiand commented on #52
Did you find out why NM was removed?

[2018-02-14 12:40] gouyang commented on #52
The openshift-ansible and kubespray project can also deploy kubernetes cluster without remove these packages. By looking into the the script `kubernetes/roles/prerequisites/tasks/main.yml`, it maybe used for enable the bridge network, but I'm not sure of it.

[2018-02-14 12:42] gouyang commented on #52
Remove NetworkManager will remove lots of dependency packages on user's workstation and then the system crash, even not recoverable.

[2018-02-14 15:18] lukas-bednar commented on #32
I think our top level directory structure should be following

* inventories/
   * openshift.inv
   * kubernetes.inv
* playbooks/
  * deploy-cluster.yml
  * install-kubevirt-release.yml
  * provision-resources.yml
  * control.yml (top-level-playbook)
* roles/
  * all ..
  * our ..
  * roles we have today and new ones
* variables/ (groups-vars)
  * kubernetes-1.9/
  * openshift-3.9/
    * masters.y

[2018-02-14 16:21] lukas-bednar commented on #32
@rthallisey please see inlines

we might create one playbook per each cluster or it might depend on `cluster_type` variable.
But I would probably go with `cluster_type` variable because we can use it in other playbooks, for example install-kubevirt-release there are slight differences between installation on kubernetes and on openshift (SSC specifically)

same as above, we can either split it into

[2018-02-14 17:11] rthallisey commented on #32
[code]
What do folks think? Structure looks good @lukas-bednar.

Here's a look into roles:
[code]

[2018-02-14 17:20] lukas-bednar commented on #32
@rthallisey yes I am good with this proposal.
In addition I would clean up repository besides this opportunity. There are roles which takes care about kubevirt compilation, I think it is not way we will go. I put this Q here #62 , and it was semi-confirmed :smile:  ... so if we agree that we will not compile anything we can get of this logic.

[2018-02-14 17:36] lukas-bednar commented on #32
I was talking to you about our internal repository, I can make a draft of how we organize it.
The main difference is that we have directory per each playbook. because we have collection of playbooks for different purposes, so each of them has different dependencies, different inventory file and own test. I am not sure whether we need something like this.
[code]
If you are interesting in more detai

[2018-02-14 18:10] rthallisey commented on #32
@lukas-bednar if we don't compile the latest resource template from kubevirt it makes it hard for kubevirt developers to want to use kubevirt-ansible.  What we could do is convert the kubevirt templates into a jinja2 resource and render them from the kubevirt-ansible playbooks.

[2018-02-14 18:45] rthallisey commented on #32
@lukas-bednar similar answer with regards to the kubevirt code.  But instead of building the source we can use the published kubevirt images with the latest tag in addition to other releases.  https://hub.docker.com/r/kubevirt/virt-controller/tags/ .

[2018-02-15 08:43] #41 closed

[2018-02-15 08:51] gbenhaim commented on #62
+1

[2018-02-15 09:37] karmab commented on #62
while developers should build from source, i think we should be able to deploy latest whenever from some "artifacts" ( apb, playbook or templates)

[2018-02-15 09:48] fabiand commented on #62
So, I think we can say that the dev mode is manual only and does not neede to be covered in the playbook.

[2018-02-15 11:42] lukas-bednar commented on #54
It is being worked as a part of #61

[2018-02-15 13:53] karmab commented on #48
let me recheck it now that apb is stable enough

[2018-02-15 14:46] lukas-bednar commented on #62
It is time to finalize the decision. We want to pick from these two statements:
* Keep and stabilize `mode=dev` flow
* Remove `mode=dev` flow

From comments above I understand that we want to "remove `mode=dev` flow".
I will remove all relevant parts.

[2018-02-15 14:55] cynepco3hahue commented on #54
@lukas-bednar Just be aware that openshift-ansible under master branch again has an issue with RPM check - https://github.com/openshift/openshift-ansible/issues/6756

[2018-02-15 15:53] fabiand commented on #62
+1 Please remove it.

[2018-02-15 17:31] lukas-bednar commented on #62
removed here #70

[2018-02-19 10:20] alexxa opened #75 "Update Readme, Contributing and other doc pages"
After the current repo organization (issue #32) the current repo documentation can be organized as following:

/kubevirt-ansible
     README.md  (1)
     CONTRIBUTING.md (2)
     /playbooks
            README.md (3)

(1) main Readme.md structure may have the following content:

* Title and welcome
* Overview - short description of the repo content
* Contents - repo structure description
* Usage -

[2018-02-19 11:46] lukas-bednar commented on #18
I will stabilize kubernetes deployment playbook, and after #61 we can add it as another parallel stage.

[2018-02-19 13:26] alexxa opened #76 "CI tests should ignore documentation changes"
CI should ignore commits containing [ci skip] and [skip ci] in their title or description. [ci skip] and [skip ci] can be used for documentation and minor changes which don't require CI check.

[2018-02-19 13:34] eedri commented on #76
We should be very careful with such kind of tags, its a big opening for allowing PRs to get merged w/o CI tests.

A better solution is for the CI system to detect its a text change and not run validation on it.

[2018-02-19 13:53] gbenhaim commented on #76
I agree with @eedri. CI should be triggered for each PR.
In the automation scripts, we can implement a logic which skips the cluster deployment and tests if the code didn't change.

[2018-02-19 14:07] alexxa commented on #76
https://github.com/kubevirt/kubevirt-ansible/pull/74#issuecomment-366701197

[2018-02-19 14:29] eedri commented on #76
+1 for the issue, we should update the automation/check-patch.sh script to detect documentation.
Another option is to add another sub-stage for testing documentation ( like spell-checker )

[2018-02-19 15:20] lukas-bednar opened #77 "Add documentation about standard-ci which is running behind each pr"
* add information about standard-ci
* describe what is being executed

[2018-02-19 15:23] eedri commented on #77
A lot of the docs can be found here: http://ovirt-infra-docs.readthedocs.io/en/latest/CI/Build_and_test_standards/index.html

Specifically for GitHub here:
http://ovirt-infra-docs.readthedocs.io/en/latest/CI/Using_STDCI_with_GitHub/index.html

We're also working in extending the docs on the new DSL soon.
I agree we should add a CI.md doc to add links to these and contain info specific for KubeVirt

[2018-02-19 16:14] lukas-bednar commented on #77
@eedri thanks for your input, I will include these links there.

My plan is add `automation/README.md` with that info, and link this file from main `README.md` located in root of repository.

[2018-02-19 21:31] dyasny opened #78 "The "byo" directory isn't in openshift-ansible any longer."
https://github.com/kubevirt/kubevirt-ansible/blob/1274f08e63562164243833a6f1cfcc3916fead49/deploy-openshift.yml#L27

The playbook is now at playbooks/deploy_cluster.yml

[2018-02-20 08:58] lukas-bednar commented on #78
Thanks for report, this is being addressed in #61

[2018-02-20 13:28] gbenhaim opened #82 "Use std-ci yum repos mirrors"
- It will protect the job from failure when Cento's repos are not available.
- It will accelerate the job (the mirrors and the Jenkins slaves are in the same data center).

[2018-02-20 14:17] #76 closed

[2018-02-20 14:18] gbenhaim commented on #54
done https://github.com/kubevirt/kubevirt-ansible/pull/61

[2018-02-20 14:18] #54 closed

[2018-02-21 15:58] lukas-bednar commented on #78
@dyasny the PR #61 was merged, it addressed this issue, can I close ?

[2018-02-21 16:02] dyasny commented on #78
@lukas-bednar Please do :)

[2018-02-21 16:04] lukas-bednar commented on #78
fixed via #61

[2018-02-21 16:04] #78 closed

[2018-02-21 20:09] dyasny opened #86 "Stop using hosts:all"
In several locations some plays are run against hosts: all. This presents a problem when more than just the k8s/openshift cluster is managed in the inventory, e.g. when there are ceph or gluster nodes in place or when the setup is being run on a local hypervisor and the hypervisor is in the inventory as "hypervisor" and should not be altered like the k8s cluster nodes.

https://github.com/kubevirt

[2018-02-21 20:11] dyasny commented on #52
NetworkManager is required by openshift-ansible, has to be installed, enabled and started (seen on 3.7 and 3.9 so far)

[2018-02-22 03:23] gouyang commented on #52
I was meaning `openshift-ansible` and `kubespray` could deploy kubernetes cluster successfully without remove NM package.

[2018-02-22 15:18] dyasny commented on #52
I have tried to deploy openshift-ansible on a set of nodes where NetworkManager was not installed, and it failed with a dependency error. I had to install, start and enable NetworkManager for openshift-ansible to run a successful deployment

[2018-02-22 16:55] #82 closed

[2018-02-23 12:07] alexxa opened #89 "deploy-kubernetes.yml fails on ansible >=2.4.3"
[code]

[2018-02-25 22:11] gbenhaim commented on #32
https://github.com/kubevirt/kubevirt-ansible/pull/84
https://github.com/kubevirt/kubevirt-ansible/pull/90
https://github.com/kubevirt/kubevirt-ansible/pull/91
https://github.com/kubevirt/kubevirt-ansible/pull/92

[2018-02-26 20:12] gbenhaim opened #96 "We have 2 variables dirs in the root of the repo"
We have:

- vars
- variables.

I think that we should have only one of them, and I prefer the name `vars` since it's part of the ansible jargon.

In addition, we have `all.yaml` and `global_vars.yml`, do you think that we should keep both of them?
I think that `global_vras.yml` should contain miscellaneous vars, while `all.yaml` should contain vars that are related to Kubevirt's deployment, and sh

[2018-02-26 20:13] gbenhaim commented on #96
@rthallisey @lukas-bednar @alexxa thoughts?

[2018-02-26 20:17] dyasny commented on #96
"variables" is something that has no place in an ansible playbook structure. Usually it's defaults to contain the default definitions and vars for either random additional variable or as a placeholder dir for replacements for the defaults.

[2018-02-27 10:14] alexxa commented on #96
- Keep vars directory, not variables.
- +1 on renaming. Since things which are in `all.yaml` belong to KubeVirt's deployment only.
- There is inconsistency in naming other files containing vars. E.g. see
     * playbooks/cluster/kubernetes/vars/default_vars.yml
     * kubevirt-ansible/playbooks/cluster/openshift/vars/

     I think it can be simply: playbooks/cluster/kubernetes/vars/defaults.yml

[2018-02-27 12:35] gbenhaim commented on #96
https://github.com/kubevirt/kubevirt-ansible/pull/98

[2018-02-27 12:55] lukas-bednar opened #99 "Update KubeVirt installation demonstration"
Since the content of repository got re-organized, our installation demo got outdated.
https://github.com/kubevirt/kubevirt-ansible/pull/97#discussion_r170907989

We need to create new, and publish it as a part of readme.

[2018-02-27 14:31] alexxa commented on #96
@gbenhaim don't close this issue yet, please. I want to fix other things I mentioned in my previous comment.

[2018-02-27 16:36] #77 closed

[2018-02-27 18:41] rthallisey commented on #96
Copying my comment from #98:

Changing the name from variables to vars is fine with me.

Agreed @alexxa, we should be consistent with our extensions and naming.

[2018-02-28 09:13] alexxa opened #100 "kubectl dependency on KubeVirt installation on an existing cluster"
After successful installation of OpenShift cluster (3.7), following [Readme](https://github.com/kubevirt/kubevirt-ansible#openshift-cluster-1), I run into

[code]

Should I have `kubectl` installed? If so, it should be documented. But the best is to include it in the playbook. After installing `origin-clients` by `dnf` the playbooks proceeds normally.

[2018-02-28 12:18] alexxa opened #101 "Failure to log in to the server on playbooks/kubevirt.yml"
playbooks/kubevirt.yml returns login failure.

[code]

[2018-02-28 12:40] gbenhaim commented on #101
You should login to the cluster by yourself or specify the following variables:

[code]

[2018-02-28 12:42] gbenhaim commented on #100
Installing it a part of the playbook will require running with sudo.
We can add a test the check if `kubectl` exists, if not fail the playbook with an informative message.

[2018-02-28 12:48] alexxa commented on #101
@gbenhaim There is nth like that in docs, in our Readme, and if it's that way, then our docs should be very clear on that, agree?

[2018-02-28 12:51] alexxa commented on #100
Whatever way it will be solved, a `kubectl` requirement note in docs should be there and will be appreciated.

[2018-02-28 13:12] alexxa opened #102 "OpenShift cluster deployment fails with 'users "test_admin" not found'"
Installing OpenShift 3.7 cluster fails with "Couldn't find test_admin user".

[code]

[2018-02-28 14:16] alexxa opened #103 "'kubevirt_template_dir' is undefined in playbooks/kubevirt.yml"
Following [Readme instructions](https://github.com/kubevirt/kubevirt-ansible#openshift-cluster-1):
[code]

[2018-02-28 14:28] rthallisey commented on #103
looks like kubevirt_template_dir is not being found in ```roles/kubevirt/defaults/main.yml```

[2018-02-28 14:37] alexxa commented on #103
@rthallisey RIght, I didn't update my branch with upstream. Sorry for a noise. Closing.

[2018-02-28 14:37] #103 closed

[2018-02-28 14:57] gbenhaim commented on #101
@rthallisey Should it be added to the docs of kubvirt's role?

[2018-02-28 15:17] alexxa commented on #101
I think, it should be right before a command which triggers playbooks/kubevirt.yml
[code]

BTW, using ansible-playbook and providing user/pwd as extra variables disclosures cluster login credentials. One can see them if they list process (`ps -aux | grep ansible-playbook`) or get access to `history`. What do you think about it?

[2018-02-28 17:24] lukas-bednar commented on #100
@alexxa could you please cover this gap in documentation ?

[2018-02-28 17:29] lukas-bednar commented on #102
It looks like that error you see is not actually error, it is just output of `oc get user` command which tests whether user `test_admin` exists. And if it doesn't it creates it.
https://github.com/kubevirt/kubevirt-ansible/blob/52909815e7c345eba2bd3423d457170b092a32a9/playbooks/cluster/openshift/config.yml#L93

What can be done here, is redirect output of that command to `/dev/null` .
@alexxa Woul

[2018-02-28 18:25] rthallisey commented on #100
Definitely should be added to the docs.

[2018-02-28 18:27] rthallisey commented on #101
If you run ```ansible-playbook -i localhost playbooks/kubevirt.yml``` the expectation is you are logged into the cluster.  We'll need to mention this is the docs.

[2018-03-01 01:47] gouyang opened #106 "role node was not found when deploy kube cluster."
[code]

#105 should fix the issue.

[2018-03-01 02:12] aglitke opened #107 "Why are there identical roles in roles/ and playbooks/roles/ ?"
Subject says it all.  Is this a redundancy that needs to be cleared out?  Where should new roles be added?

[2018-03-01 02:18] aglitke commented on #107
saw the symlink.

[2018-03-01 02:18] #107 closed

[2018-03-01 02:39] gouyang opened #108 "Could not find openshift-ansible playbooks"
Following the README to deploy openshift got bellow error, it is looking for openshift-ansible under directory `kubevirt-ansible/playbooks/cluster/openshift`, however the openshift-ansible is cloned to `kubevirt-ansible`.

[code]

[2018-03-01 06:50] gouyang opened #110 "link for docker-storage-setup-defaults is broken"
it is `https://github.com/kubevirt/kubevirt-ansible/blob/master/docker-storage-setup-defaults`, I think it should link to `https://github.com/openshift/openshift-ansible-contrib/blob/master/roles/docker-storage-setup/defaults/main.yaml`

[2018-03-01 08:30] lukas-bednar commented on #110
yes link is wrong in readme.
there is `[defaults values](docker-storage-setup-defaults)` it should be `[defaults values][docker-storage-setup-defaults]` because this link is defined on bottom of readme.

I know that @alexxa already hit same issue.

[2018-03-01 09:32] alexxa commented on #100
@lukas-bednar That was a plan, but @rthallisey beat me.

[2018-03-01 09:47] #108 closed

[2018-03-01 09:47] #110 closed

[2018-03-01 09:56] alexxa commented on #101
@gbenhaim @rthallisey @lukas-bednar And what do you think about login credentials disclosure I mentioned in my previous comment?

[2018-03-01 10:41] gouyang commented on #52
`ansible-playbook -i inventory playbooks/cluster/kubernetes/config.yml` need to remove NM as the issue reported.

` ansible-playbook -i inventory -e "openshift_ansible_dir=/root/openshift-ansible openshift_playbook_path=playbooks/byo/config.yml  openshift_ver=3.7" playbooks/cluster/openshift/config.yml` meet below error which need NM installed and enabled.

[code]

I think role `kubernetes-prerequ

[2018-03-01 10:53] alexxa commented on #52
@gouyang Yes, we know about it. I think to add a documentation note about it.

That task comes from OpenShift playbooks. And there are several opened issues about it. E.g.: https://github.com/openshift/openshift-ansible/issues/4950

[2018-03-01 11:05] gbenhaim opened #112 "Document how to run mock environment locally"
In the CI, the entire automation runs inside a mock environment http://ovirt-infra-docs.readthedocs.io/en/latest/CI/Using_mock_runner/index.html

We should document how to use in order to run the automation locally on a laptop.

[2018-03-01 11:07] lukas-bednar opened #113 "Add demo how to use Lago to deploy OpenShift with KubeVirt locally"
@gbenhaim you got awesome demo, I think it worth to include it in our readme!

Under section https://github.com/kubevirt/kubevirt-ansible#deploy-a-new-kubernetes-or-openshift-cluster-and-kubevirt-with-lago

[2018-03-01 11:07] lukas-bednar commented on #112
Sorry I just opened issue #113 I am closing it ... :smile:

[2018-03-01 11:08] lukas-bednar commented on #113
Duplicated

[2018-03-01 11:08] #113 closed

[2018-03-01 11:12] alexxa commented on #112
Great minds think alike =)

[2018-03-01 12:00] lukas-bednar commented on #106
via #105

[2018-03-01 12:00] #106 closed

[2018-03-01 14:36] rthallisey opened #115 "Use a top level variables file"
The goal of a top level variables file is to provide the user with a single file that lists the top level variables of kubevirt-ansible.  The variables are mostly playbook level variables that will have a significant impact on how playbooks will run.  Some variables listed here can also be variables that users are likely to change or variables we want a user to be aware of.

[code]

[2018-03-02 11:07] gouyang opened #117 "Configure oc admin user for testing failed because of lacking certificate"
[code]
Add `--config /etc/origin/master/admin.kubeconfig` to every command or copy /etc/origin/master/admin.kubeconfig to `/root/.kube/config` can fix the problem.
[code]

[2018-03-03 05:50] gouyang opened #119 "python2 yum module is needed when deploy openshift on Fedora27"
Openshift need python3 support, so it need to add `ansible_python_interpreter=/usr/bin/python3` to the host variables. However, run the playbook meet below error on Fedora27:

[code]

Use `package` instead of `yum` can fix the problem.

[code]

[2018-03-05 09:02] lukas-bednar commented on #119
@gouyang Would you like to handle it, since you have a fix already?

[2018-03-06 10:22] lukas-bednar commented on #117
If I understand correctly, this issue is related only to `Configure oc admin user for testing` task which is executed on masters nodes.

So I am for adding `--config` option to relevant commands.

Other option could be exporting `KUBECONFIG` environment variable at the beginning of script.

@gouyang Does it make sense to you ?

[2018-03-06 10:52] #119 closed

[2018-03-06 11:27] alexxa commented on #102
@lukas-bednar yes, can be, or maybe ignore it with `failed_when`?

[2018-03-06 19:03] #117 closed

[2018-03-07 13:56] #115 closed

[2018-03-07 13:59] lukas-bednar commented on #32
@gbenhaim @rthallisey I think we can close this one as done, unless you have objection.

[2018-03-07 14:14] #32 closed

[2018-03-07 17:12] alexxa commented on #75
Points 1 and 3 done by #71, #74, #114 and #125.
Point 2 needs to be addressed.

[2018-03-08 13:35] aglitke opened #126 "Add an extra 50G disk to each lago VM"
In order to support a CNS deployment, the hosts need to have an extra, unused disk that can be given to gluster.  Can we update the automation such that vms will be created with this added disk?  The exact size is negotiable but I'd rather have too much (since it is thin provisioned) as opposed to seeing random failures when we run out of space.

[2018-03-08 13:58] lukas-bednar commented on #126
@aglitke do you need to initialize that disk somehow ? format it with some fs or something?

[2018-03-08 15:46] aglitke commented on #126
Nope.  It should be completely blank.

[2018-03-08 19:04] aglitke opened #128 "Dynamic inventory"
As part of the adding a cns storage flavor, I would like to add some things to the inventory file to conditionally deploy cns.  If cluster == openshift and storage_role == storage_cns I'd want to make the following changes to the inventory.  What is the best way to achieve this?

[code]
[code]

[code]

[2018-03-08 19:41] lukas-bednar commented on #128
I am not sure if I understand why we need dynamic inventory.

I think you can add these things into `./inventory` file right a way.
And we could have variable there which controls whether to deploy cns or not.

Regarding to automation, lago generates inventory file containing hosts groups, and in order to add our VMs into `glusterfs` host group, it is enough to change these two lines in LagoInitFi

[2018-03-08 21:18] #126 closed

[2018-03-08 21:45] aglitke commented on #128
@lukas-bednar We will still need to generate the glusterfs_devices=[ "/dev/vdd" ] variable for each host in the glusterfs group.  I don't believe your code change would achieve that part?

@rthallisey We can decide which is the default but I think it would be best to only run the gluster provisioning steps in openshift-ansible when we intend to use them.  Whether those steps are run is dependent e

[2018-03-08 22:17] lukas-bednar commented on #128
@aglitke hm, I understand that name of device can be different on each machine in real life.
In lago environment you can expect all disks to be `/dev/sdd` or `/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_4` because you can specify the name of device (`dev`) in LagoInitFile.
https://github.com/kubevirt/kubevirt-ansible/blob/f48947ef50c0d241f4ca31915eb6a15b6381f198/playbooks/provider/lago/LagoInitFile.y

[2018-03-09 10:54] gbenhaim commented on #128
When referring to disks that were created by lago please use the following path `/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_*` where * is the index of the disk in the LagoInitFile. This is the only way to uniquely detect the disk.

[2018-03-09 10:56] gbenhaim commented on #128
https://github.com/kubevirt/kubevirt-ansible/pull/130

[2018-03-12 07:58] mareklibra opened #132 "Missing documentation for docker storage"
Documentation for setting storage for docker shall be added to https://github.com/kubevirt/kubevirt-ansible/blob/master/playbooks/README.md .
Or even a playbook for that.

In addition, please review installation steps to become copy&paste while considering that the user has Centos 7 minimal installed and willing to deploy openshift 3.9 with latest kubevirt.

[2018-03-12 08:26] mareklibra commented on #132
Info about ssh-keys is missing

[2018-03-12 10:48] lukas-bednar opened #135 "-e@vars/all.yml doesn't contain all necesary vars for OpenShift 3.9"
Documentation says to execute

[code]
But for 3.9 there is different parameter for `openshift_playbook_path: playbooks/deploy_cluster.yml`.

So when running playbook without it, then it fails on `can not find playbooks/byo/config.yml` which is set by default.

[2018-03-12 11:49] #100 closed

[2018-03-12 11:49] #101 closed

[2018-03-13 09:13] alexxa opened #141 "merge kubernetes roles in one directory"
Should kubernetes-{master, node and prerequirements} be moved into one 'kubernetes' directory?

[2018-03-13 18:58] alexxa opened #142 "Add a template for roles/some_role/README.md"
Recently there were several new PR adding new roles and every README there has a different structure and appearance. I think, it will be nice to have a template for it.

The template should be mentioned in Contributing guidelines.

Possible structure:

[code]

I'm not sure whether defaults should be written in that table or not. Maybe it will be easier to read and maintain docs, if they simply con

[2018-03-14 08:59] lukas-bednar commented on #142
I think this would be great addition to contribution guide.
I am good with your proposal, @alexxa do you think that you can close this gap ?

[2018-03-14 09:02] alexxa commented on #142
I will add it to my long ToDO list =)

[2018-03-14 20:08] #135 closed

[2018-03-15 09:28] vatsalparekh opened #145 "hardcoded templates in dev mode"
in the [dev manifests](https://github.com/kubevirt/kubevirt-ansible/blob/d0fad8cb54136421bd69541cf89d84de332d1781/roles/kubevirt/defaults/main.yml#L10), there are hardcoded list of yamls, which doesn't include `offlinevm`, shouldn't it install all the yamls in the dev folder?

[2018-03-15 09:28] vatsalparekh commented on #145
@lukas-bednar

[2018-03-15 13:29] alexxa opened #146 "vars duplication"
[playbooks/cluster/openshift/config.yml#L4](https://github.com/kubevirt/kubevirt-ansible/blob/6b9a4303e7b69a85437e1cf67ca5e26325e20276/playbooks/cluster/openshift/config.yml#L4) duplicates variables from [vars/all.yml](https://github.com/kubevirt/kubevirt-ansible/blob/master/vars/all.yml)

[2018-03-15 13:29] alexxa opened #147 "default openshift to 3.9"
- main readme.md says pull 3.7 openshift branch
- playbooks/cluster/openshift/README.md defaults to 3.7
- kubevirt-ansible/automation/check-patch.sh runs it for 3.7
- kubevirt-ansible/playbooks/cluster/openshift/config.ym defaults it to 3.7 (though it should use vars/all.yml - see issue #146)

But vars/all.yml defaults it to 3.9. We should pick one version, and actually default it to 3.9 since it'

[2018-03-19 12:17] gbenhaim opened #150 "ansible.kubernetes-modules was not found on Ansible galaxy"
[code]

[2018-03-19 14:13] rthallisey commented on #150
The role was just re published. https://galaxy.ansible.com/ansible/kubernetes-modules/

[2018-03-19 14:13] #150 closed

[2018-03-20 00:58] alexxa commented on #52
@gouyang @dyasny are you ok to close this issue because of merged #143?

[2018-03-20 06:39] gouyang commented on #52
Okay to close the issue

[2018-03-21 07:32] #52 closed

[2018-03-21 11:11] #132 closed

[2018-03-21 18:02] lukas-bednar commented on #145
@vatsalparekh Thanks for pointing this out.
For now you can overwrite that `dev_template_resources` variable from command line using `-e` option or from inventory file, or you can update your local copy of `vars/all.yml` with current list of resources.

Anyway I think we should either have list of resources per each release, or discover them from given url.
I am not sure what is better, or maybe @

[2018-03-21 18:41] rthallisey commented on #145
I think we need to stay in sync with kubevirt on this. I don't have a way to dynamically list them.
[code]

[2018-03-22 08:15] lukas-bednar commented on #145
OK, I think it is good enough to keep track with kubevirt master, for dev mode.

[2018-03-22 13:09] alexxa commented on #142
Fixed by #154. Closing.

[2018-03-22 13:09] #142 closed

[2018-03-22 16:58] alexxa commented on #146
Also, [playbooks/cluster-login.yml](https://github.com/kubevirt/kubevirt-ansible/blob/481d36a0308cf7f84255293d763c346dde67f0e8/playbooks/cluster-login.yml) duplicates variables from [roles/cluster-login/defaults/main.yml](https://github.com/kubevirt/kubevirt-ansible/blob/6b9a4303e7b69a85437e1cf67ca5e26325e20276/roles/cluster-login/defaults/main.yml)

[2018-03-23 10:13] alexxa commented on #146
I believe a variable `openshift_playbook_path` is redundant in [playbooks/cluster/openshift/README.md](.playbooks/cluster/openshift/README.md). It's not an independent variable and defined by `openshift_version` in [vars/all.yml](https://github.com/kubevirt/kubevirt-ansible/blob/master/vars/all.yml).

[2018-03-23 11:25] qwang1 opened #158 "kubevirt-ansible should handle situations such as re-execute playbook after interruption/failure"
Hi there,

I attempted to install storage_demo using kubevirt-ansible playbook based on [ceph-cinder-demo](https://github.com/rmohr/ceph-cinder-demo). If playbook execution failed or interrupted, I ran playbook again, it can't go ahead once ran into existing resources. I think as long as playbook runs fail, re-run it is inevitable for users. It's an unpractical and annoying experience to delete ex

[2018-03-23 12:16] qwang1 opened #159 "Optmize storage_demo ansible role"
Hi there,

I attempted to install storage_demo using kubevirt-ansible playbook based on [ceph-cinder-demo](https://github.com/rmohr/ceph-cinder-demo). Perhaps my testing environment is new and nothing configured, so I ran into some problems. I think the following modification would be better if deploy it on multi-node clusters, just for reference.

[code]

[2018-03-23 13:32] lukas-bednar commented on #158
@aglitke do you think that somebody from storage team could cover this issue ?

[2018-03-26 08:57] lukas-bednar commented on #159
@aglitke could you please share, what do you think about suggested change to `playbooks/storage.yml` ?

[2018-03-27 06:18] #89 closed

[2018-03-27 11:07] lukas-bednar opened #163 "`openshift_version` variable is conflicting with one in openshift-ansible repository"
Here in this repository we set and use `openshift_version` variable to make a decision about what openshift-ansible playbook to use and what variables file to include ...
All that is good, and apparently it does not cause issues for OpenShift Origin deployment.

When deploying OpenShift Enterprise it causes issues, because this variable it used by openshift-ansible to match exact version of images

[2018-03-29 12:30] gbenhaim opened #171 "Create a list of artifacts"
In order to be able to create a compose of all the different artifacts, we will need to have a list that
includes the name, registry, repo, and version of each artifact.

For manifests that are part of `kubevirt-ansible` repo, the solution is simple because we can change
the manifests to use variables for the images' details.

I'm not sure what will be the correct method when working with manifest

[2018-03-29 13:47] dcritch commented on #158
Hi @qwang1

I've opened up a PR to fix your issue: https://github.com/kubevirt/kubevirt-ansible/pull/172

[2018-03-29 15:01] dcritch commented on #159
I agree on point #1 and for #3, really etcd should be in the children anyway, so I've submitted a PR to address those 2 things.

For #2, its reasonable to assume folks are using their default SSH key under ~/.ssh/... If this doesn't work for a given environment, the key can be specified on the command line via:
# ansible-playbook --private-key path/to/key ....

[2018-03-29 17:19] lukas-bednar commented on #163
Closed via #164

[2018-03-29 17:19] #163 closed

[2018-04-02 07:56] qwang1 commented on #158
@dcritch Thank you!

[2018-04-02 21:53] alexxa commented on #158
@dcritch PR #172 fixes things for one role only. Are all other roles are ok to rerun on fail?

[2018-04-04 13:41] #3 closed

[2018-04-04 13:41] #13 closed

[2018-04-04 13:44] rthallisey commented on #47
Look at Roman's Kubevirt containerized tests

[2018-04-04 13:44] #48 closed

[2018-04-04 13:50] #99 closed

[2018-04-04 14:09] alexxa commented on #158
@dcritch can you please check whether other roles need to be updated accordingly?

[2018-04-04 14:28] lukas-bednar commented on #147
Update openshift-ansible to use released branch of 3.9

[2018-04-04 15:28] alexxa commented on #158
@dcritch David, thanks. Please accept the invite to KuveVirt GitOrg, it should be in your email.

[2018-04-05 10:28] lukas-bednar opened #179 "Align with new format of kubevirt.yaml.in template"
There is a change in KubeVirt repository which is going to affect the way how the kubevirt.yaml is going to be formatted.

kubevirt/kubevirt#850

[2018-04-05 13:09] davidvossel commented on #179
The process of generating manifests is specific to the KubeVirt build process at a specific point in time. KubeVirt-Ansible needs to be using the manifests published by our build system, not recreating manifests based on our templating.

This env-var should not exist in kubevirt-ansible
[code]

To be clear, there is nothing in the KubeVirt source tree that is meant for direct consumption as a depe

[2018-04-06 12:33] lukas-bednar commented on #179
@rthallisey I believe we have do something about this and quickly. Do you have any suggestion ?

[2018-04-06 12:36] lukas-bednar commented on #179
In my opinion, we should drop this `mode=dev` thing and consume only released manifests.
In addition we can have a option to provide custom manifest instead of `mode=dev`.

[2018-04-06 14:39] rthallisey commented on #179
It's important for testing and for development that we have the ability to run the latest stuff from master in kubevirt-ansible. I think we need to change the url we pull from for versioned releases though.

I think it's fine to drop ```manifest_version: dev```, since I don't think folks are doing kubevirt development with kubevirt-ansible.

[2018-04-08 19:40] karmab commented on #179
i believe this issue is affecting deployment of 0.4.0

[2018-04-09 08:05] qwang1 commented on #179
Yeah, I failed to provision Kubevirt(any version, any storage role) from the web UI on OCP(v3.9.19) + OpenStack.
[code]

[2018-04-09 09:31] qwang1 commented on #159
@dcritch Thanks. The modification haven't caused regression issue yet.

[2018-04-09 21:58] #179 closed

[2018-04-10 08:26] michalskrivanek opened #182 "deploy Linux&Windows default templates"
It would be nice if we include the basic examples of Windows and Linux Templates out of the box. They will show up nicely in Console when you want to create a VM in GUI

[2018-04-10 08:27] michalskrivanek commented on #182
@rthallisey can you think of best place where to do that?

[2018-04-10 08:33] fabiand commented on #182
Side note - We've got two templates in the KubeVirt repo which can be used:

https://github.com/kubevirt/kubevirt/blob/master/cluster/vm-template-windows2012r2.yaml
https://github.com/kubevirt/kubevirt/blob/master/cluster/vm-template-rhel7.yaml

We'll just need to sort out who will deploy the required presets. Ansible or core kubevirt. I tend to let it be core kubevirt.

/cc @rmohr

[2018-04-10 10:52] karmab commented on #182
both templates would need the extra tag *virtualmachine* in order to show up in the virtualization category

[2018-04-10 10:54] rmohr commented on #182
@fabiand sounds good to me, for as long as we can rethink this as soon as the api is more stable.

[2018-04-10 11:06] rthallisey commented on #182
@michalskrivanek Already adding the kubevirt [default](https://github.com/kubevirt/kubevirt/blob/master/cluster/vm-template-fedora.yaml) templates [here](https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/kubevirt/tasks/provision.yml#L67-L71)

[2018-04-10 11:13] rmohr commented on #182
Hm, ok. Note that we move everything in the git repo around without notice. So you can easily run into issues if you reference something in our repo which is not downloaded from a release ...

[2018-04-10 11:24] fabiand commented on #182
@rthallisey currently it would, because the templates are not on the release page: https://github.com/kubevirt/kubevirt/releases/tag/v0.4.1-alpha.1

What does work is to pull the templates from the tag tree: https://github.com/kubevirt/kubevirt/tree/v0.4.1-alpha.1

[2018-04-10 11:49] rthallisey commented on #182
@fabiand I pull down the released tar ball -> https://github.com/kubevirt/kubevirt/archive/v0.4.1-alpha.1.tar.gz , untar, and grab the templates.

It would be nice to have the templates on the release page or in any published location with tag.  We could do something like a container that gets run by a kubernetes job and does a few ```oc create -f xxxxx```.

[2018-04-10 11:51] fabiand commented on #182
@rthallisey ah, tarball works!

For now we will not put the templates on the release page, as they are depending on OpenShift functionality. Once we have a way to provide the tempaltes to vanilla Kubernetes users, then I think that we can place them on the release page.

But if you need a link, then the tag tree link should work for kubectl as well.

[2018-04-10 12:42] fabiand opened #183 "Some smaller issues"
These two issues made it hard to follow the readme:

- WRT selinux it doesn't specify what "inventory" to run (e.g. let's specify it's the openshift-ansible inventory)
- The "KubeVirt parameters documentation" link is broken.

[2018-04-10 12:42] fabiand commented on #183
/cc @fsimoncelli @yuvalif

[2018-04-10 17:15] dcritch commented on #158
I ran the major top level playbooks ( {cdi,cluster-login,kubevirt,selinux,storage}.yml ) and didn't notice any idempotency issues.

Looking over things though, there are definitely some spots where we can fix things up. There are a lot of uses of command and shell, where a proper ansible module is available. There is a trello card for it, but I can take on that issue of clean up. I think this one

[2018-04-11 06:58] alexxa commented on #183
@fabiand Do you mean that `ansible-playbook -i inventory playbooks/selinux.yml` will not work with our [inventory](https://github.com/kubevirt/kubevirt-ansible/blob/master/inventory) and it should be one of [openshift-ansible inventories](https://github.com/openshift/openshift-ansible/tree/master/inventory)?

[2018-04-11 07:26] alexxa commented on #158
Thank you, @dcritch

[2018-04-11 07:26] #158 closed

[2018-04-11 07:54] alexxa commented on #183
@yuvalif Please let me know if you are ok with PR #187. Thanks.

[2018-04-11 08:08] yuvalif commented on #183
commented in the review

[2018-04-11 09:38] yuvalif opened #188 "[enhancement] allow for remote execution of "oc" during install"
Currently [this](https://github.com/kubevirt/kubevirt-ansible/tree/master/playbooks#install-kubevirt-on-an-existing-cluster) section requires either ```oc``` to be installed on the machine that does the installation, or to do the installation from the master node.
The drawback with first option that the ```.kube/config``` has to be copied from the master to the installing machine, the drawback wit

[2018-04-11 14:03] rthallisey commented on #188
Looks like the kubevirt playbooks uses localhost.  I think we'll need to change it to master[0] like in storage.

[2018-04-13 08:30] qwang1 opened #195 "Optimize cdi playbook"
Hi there,
Considering situations like HA cluster, multi-node cluster, and ansible host is not one master, so I think the following modification would be better. These change can provision/deprovision CDI successfully on my cluster as well.
[code]

[2018-04-13 14:38] alexxa commented on #183
Fixed in PR #187.

[2018-04-13 14:38] #183 closed

[2018-04-16 09:39] qwang1 opened #197 "Deprovision storage-glusterfs fail because of AnsibleUndefinedVariable: 'heketi_admin_key' is undefined"
Hi there,

When I ran storage-glusterfs deprovision action, I met this error “AnsibleUndefinedVariable: 'heketi_admin_key' is undefined”

[code]
Add the following on roles/storage-glusterfs/tasks/deprovision.yml can deprovision successfully.
[code]

[2018-04-16 10:15] #159 closed

[2018-04-16 13:44] michalskrivanek commented on #182
@rthallisey , is this only missing the relist? We do not necessarily need custom templates right now

[2018-04-16 15:41] rthallisey commented on #182
We need to make sure these templates are annotated properly for the TSB to pick them up.  Then we'll need a relist of the TSB in the playbooks.

Before we do that,  we're still seeing an [issue](https://github.com/openshift/origin/issues/19368) in the TSB when running CRDs.

[2018-04-17 06:06] gouyang opened #201 "cannot find vm-template files when deploy with kubevirt.yaml"
I meet a failure when deploy with kubevirt.yaml, it's caused by the new file isn't downloaded as there is old file `/tmp/kubevirt.tar.gz` existed.

[code]
[code]

[2018-04-18 10:41] lukas-bednar opened #203 "ansible.kubernetes-modules not found on ansible galaxy"
From some reason it is not possible to install kubernetes-modules from galaxy
[code]

[2018-04-18 11:35] #203 closed

[2018-04-19 10:08] fabiand commented on #182
@rthallisey can you ellaborate why you need to define CRDs using a template?

[2018-04-19 12:14] rthallisey commented on #182
I'm mentioning the wrong resource, it's the OfflineVirtualMachine API endpoint.  This is an apiserver extension that isn't currently allowed by the TSB.

[2018-04-19 12:36] #182 closed

[2018-04-23 10:59] qwang1 opened #205 "AnsibleUndefinedVariable: 'namespace' is undefined"
Hi there,

I added external_provisioner=true or external_provisioner=false to run storage-glusterfs. I ran into the error: "AnsibleUndefinedVariable: 'namespace' is undefined" when render storage-glusterfs deployment yaml.
namespace: "{{ namespace }}" is omitted when changed it to glusterfs_namespace
[code]

Here is ansible log:
[code]

[2018-04-23 11:20] qwang1 opened #206 "Create storage-glusterfs resources failed if external_provisioner enabled"
Hi there,

I tried to provision storage-glusterfs with external_provisioner enabled. I met this problem when kubevirt-ansible executed "Create storage-glusterfs Resources":

unable to recognize "/tmp/storage-glusterfs.yml": no matches for /, Kind=ClusterRole
error validating "/tmp/storage-glusterfs.yml": error validating data: [ValidationError(ClusterRoleBinding): missing required field "userNames

[2018-04-23 13:50] jarrpa commented on #128
@gbenhaim @sreichar @lukas-bednar @aglitke This Issue has been resolved with https://github.com/kubevirt/kubevirt-ansible/pull/176 .

[2018-04-23 14:04] jarrpa commented on #206
Could you provide the `/tmp/storage-glusterfs.yml` file?

[2018-04-23 16:09] qwang1 opened #208 "Deprovision storage-glusterfs should delete external_provider related resources as well"
Hi there,

I provisioned storage-glusterfs with external_provisioner enabled and serviceaccount "glusterfile-provisioner" created. When I deprovisioned storage-glusterfs, this serviceaccount wasn't removed.

Here is the ansible log:
[code]

[2018-04-23 17:53] qwang1 commented on #206
@jarrpa Hi,
[code]

[2018-04-23 20:27] jarrpa commented on #206
Potentially fixed by #207.

[2018-04-26 09:24] #206 closed, assigned to nobody

[2018-04-26 09:31] qwang1 opened #211 "Missing required field "apiGroup" and "kind" in io.k8s.api.rbac.v1.RoleRef"
Hi there,

I tried to provision storage-glusterfs with external_provisioner enabled. I met this problem when kubevirt-ansible executed "Create storage-glusterfs Resources":
error: error validating "/tmp/storage-glusterfs.yml": error validating data: [ValidationError(ClusterRoleBinding.roleRef): missing required field "apiGroup" in io.k8s.api.rbac.v1.RoleRef, ValidationError(ClusterRoleBinding.role

[2018-04-26 16:27] qwang1 opened #214 "Can't create Deployment resources when provision storage-glusterfs with external_provisioner enabled"
Hi there,

I tried to provision storage-glusterfs with external_provisioner enabled. I met this problem when kubevirt-ansible executed "Create storage-glusterfs Resources":

unable to recognize "/tmp/storage-glusterfs.yml": no matches for /, Kind=Deployment

I'm not sure the apiVersion for Deployment is correct.
[code]

Here is part of ansible log:
[code]

[2018-05-03 21:39] rwsu opened #215 "storage-demo fails to deploy on upstream Kubernetes cluster"
I first deployed Kubernetes using kubeadm and Weave Net as CNI on VMs. Then I used kubevirt-ansible to deploy KubeVirt and the storage-demo role using this command:

[code]

The storage-demo pod fails to deploy ending up in CrashLoopBackOff status.

My pods look like:

[code]

describe pod storage-demo

[code]

logs

[code]

[code]

[2018-05-06 10:24] cynepco3hahue opened #216 "Deprecate CI for OpenShift 3.7"
Currently, KubeVirt developed for Kubernetes 1.9, so it does not relevant to run KubeVirt deployment for OpenShift 3.7 that uses Kubernetes 1.7(also it already has features like webhook validation that supported only from version 1.9)

[2018-05-07 23:58] rwsu opened #219 "storage-gluster role fails when cluster!=openshift"
Error:

[code]

It appears route_cmd is still defined even though it should not have been registered by previous tasks, https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/storage-glusterfs/tasks/provision.yml#L20

[2018-05-09 06:45] qwang1 opened #221 "Iptables permission denied (you must be root) when provision kubevirt-apb from OCP web console"
This is https://github.com/ansibleplaybookbundle/kubevirt-apb/issues/54 moved here.

@rthallisey hi,

I chose ephemeral storage plan to deploy kubevirt on OCP web console, then I ran into this error when executed "Allow ceph OSD traffic" task:

iptables v1.4.21: can't initialize iptables table `filter': Permission denied (you must be root)

Here it the ansible log when deploy from web console:

[c

[2018-05-09 07:26] qwang1 opened #222 "Pod is still running after import-vm-disk-apb deprovision"
It's https://github.com/ansibleplaybookbundle/import-vm-disk-apb/issues/3 moved here.

Hi @rthallisey,

I have kubevirt deployed on OCP v3.9.14 + OpenStack + GlusterFS. Then I can provision import-vm-disk-apb successfully. If I delete its serviceinstance or delete the provisioned service from web console, serviceinstance, service, pvc and pv can be deleted, but the running pod is still there. Pod

[2018-05-10 08:30] #216 closed

[2018-05-10 21:26] rwsu opened #223 ""deploy host as kubernetes node" task fails on non-master nodes"
kubeadm init creates  /etc/kubernetes/pki/ca.crt on the master node. The file doesn't exist on worker nodes. The "retrieve token cat cert hash" task in the kubernetes-node role actually fails on worker nodes and the "deploy host as kubernetes node" task subsequently hangs.

[code]

[2018-05-21 07:10] shiywang opened #232 "storage-demo deploy failed: kraken CrashLoopBackOff, cinder-volume Error"
I use `oc cluster up` to setup an openshift 3.9 cluster, then
[code]

but when I check the storage demo in kube-system
[code]

I check the ceph-cinder-demo repo, previously it's a `StatefulSet` [here](https://github.com/rmohr/ceph-cinder-demo/blob/master/storage/templates/provisioner.yaml#L24) now changed to `Deployment`, is that right ? why my pod crash here? BTW do we have any document about how

[2018-05-21 07:42] gouyang opened #233 "move task "Configure oc admin user for testing" to role kubevirt?"
The task is currently in `playbooks/cluster/openshift/config.yml`, if I deployed a cluster not via kubevirt-ansible, I still want `test_admin` is configured for testing.

How about move it to role kubevirt?

[2018-05-21 08:12] qwang1 commented on #232
@shiywang Hi,

Thanks for your interest in the storage-demo. Could you provide event via “oc describe xxx”? The “oc logs” command has indicated that a container type is needed.

I once ran into demo-storage pod “CrashLoopBackOff” problem, here is https://github.com/kubevirt/storage-demo/issues/1 . And in the next few rounds of testing, demo-storage pod can run successfully.

BTW, I’m curious why d

[2018-05-21 11:05] lukas-bednar commented on #233
I think the best would be move this task out of `playbooks/cluster/openshift/config.yml`, and make it either  role, or separate playbook which could be included on relevant places.

I already was thinking about this move some time ago when trying deploying kubevirt on existing cluster.

So from me thumb up on this one.

[2018-05-21 11:49] shiywang commented on #232
hi @qwang1 thanks for reply
here's more detail
[code]
so you think it's because the oc version i use was wrong ? Okay,will the new one try tommorrow, thank you !!

[2018-05-22 07:21] shiywang commented on #232
using this version still got same issue
[code]

[2018-05-23 08:42] #223 closed

[2018-05-23 09:29] #147 closed

[2018-05-23 10:03] karmab opened #234 "no storage components installed when using glusterfs role"
no storage components gets installed when using glusterfs role ( from the kubevirt-apb)
- expected to see the playbooks/cdi.yml executed and the cdi components installed ( and kubevirt storage class created) but only kubevirt got deployed
- worth mentioning i used 0.5.0 version for kubevirt

opening the issue here as the apb leverages the code from this repository

[2018-05-23 11:45] simon3z commented on #234
cc @aglitke

[2018-05-23 15:36] qwang1 commented on #232
I can reproduce it with kubevirt v0.5.1-alpha.1 + OCP v3.10.0-0.47.0

[2018-05-23 15:37] aglitke commented on #232
How are you deploying this?  Are you running the kubevirt-ansible playbook directly?  In your inventory, try using a real IP for the host (not localhost).  In the oc describe output above I see MON_IP set to localhost which looks wrong to me.  Also, please post the output of ```oc logs storage-demo-XXX -c kraken``` so I can check for any error messages there.

[2018-05-23 16:38] qwang1 commented on #232
@aglitke I ran the kubevirt-ansible playbook directly to deploy storage-demo. Ansible playbook can run successfully. My inventory is: http://pastebin.test.redhat.com/594566

Here is the kraken container log:
[code]

kraken and cinder-volume both need
[code]
And MON_IP is cnv-executor-qwang-master1 on my cluster
[code]
Because
[code]
I think it's bug of CI because master chose cnv-executor-qwang-no

[2018-05-24 07:34] shiywang commented on #232
Hey @aglitke ,sorry some of my commands maybe wrong, but in general the error message is just like @qwang1 described here:
[code]

and I checked the /entrypoint.sh file here:
[code]
Seems $MONMAP do not exist, I'm still trying to debug. thank you

[2018-05-24 14:38] copejon opened #237 "Update CDI image repo from 'jcoperh' to 'kubevirt'"
The docker.io/jcoperh repo is no longer used to publish CDI releases and only contains scratch images for development and testing.  docker.io/kubevirt is the new home for all cdi release images.  These changes should be made in

https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/cdi/README.md
https://github.com/kubevirt/kubevirt-ansible/blob/bf5b784367df522ee880d8a741286c13125e8381/rol

[2018-05-27 08:33] shiywang opened #238 "CDI tighter role could not fetch endpoint-secret"
PR https://github.com/kubevirt/kubevirt-ansible/pull/229 change from cluster-admin roles to more tighter ClusterRole, but it only contains pv and pod [here](https://github.com/screeley44/kubevirt-ansible/blob/82f898a6efb98df2551fbecc580a0799590ccc72/roles/cdi/templates/cdi-controller-deployment.yml#L12-L17), then fetch secret will failed like this:

[code]

@screeley44 I'm going to submit a pr to

[2018-05-27 09:19] shiywang opened #239 "kubevirt.yml playbook should not be hardcoded localhost"
like storage.yml playbook change here: https://github.com/kubevirt/kubevirt-ansible/pull/173
shouldn't we keep consistency, and make host also to be master[0] or sth ?

@lukas-bednar @alexxa

[2018-05-28 06:26] shiywang commented on #239
similar to https://github.com/kubevirt/kubevirt-ansible/issues/195

[2018-05-28 08:18] shiywang opened #244 "Need to add test qcow2 image for CDI e2e testing"
I'm working on intial e2e testing on this repo, CDI support couple ways of download images:
[code]
For http without basicauth, I think we can upload a small image to this repo for e2e testing

@lukas-bednar @screeley44 @aglitke WDYT?

[2018-05-29 14:05] #238 closed

[2018-05-30 16:00] rmohr opened #247 "Make sure that all required admission controllers are enabled or check for them"
Hi,

I just want to make sure that kubevirt-ansible enables or validates that all required admission controllers/plugins are enabled. In [1] you can finde the required admission features which need to be enabled. This is for instance very important for object validation for KubeVirt. Otherwise issues like https://github.com/kubevirt/kubevirt/issues/1089 will pop up.

We should  also check in KubeV

[2018-05-31 15:29] simon3z opened #248 "Default for glusterfs_namespace should be the same of openshift-ansible"
Default for `glusterfs_namespace` (at the moment `app-storage`) should be the same default of openshift-ansible (`glusterfs`).

cc @aglitke

[2018-06-01 00:47] shiywang opened #249 "Sanity/e2e tests flake sometimes"
when pr sanity e2e tests pr here https://github.com/kubevirt/kubevirt-ansible/pull/209 introduced. sometimes some pr changed doesn't related to but failed with sanity test here: http://jenkins.ovirt.org/blue/organizations/jenkins/kubevirt_kubevirt-ansible_standard-check-pr/detail/kubevirt_kubevirt-ansible_standard-check-pr/647/pipeline

and log here: http://jenkins.ovirt.org/blue/rest/organization

[2018-06-01 01:25] shiywang opened #250 "importer pod couldn't get secret golden-images/kubevirt-cephx-secret"
[code]

[2018-06-01 05:45] shiywang opened #252 "why we disable storage tests in CI ?"
The storage-demo role was introduced in here: https://github.com/kubevirt/kubevirt-ansible/pull/120,
and after that seems we disabled it in CI in this pr https://github.com/kubevirt/kubevirt-ansible/pull/139, is there any reason we disable it by default ?
I'm currently working on CDI stroage e2e test, if we disabled it, I won't able to check the pvc binded success and importer-pod being completed

[2018-06-01 07:32] shiywang commented on #252
Okay, I check the pr here: https://github.com/kubevirt/kubevirt-ansible/pull/189, maybe we intended to add gluster storage as default ci testing, but is that pr working currently ? for 3.7 or 3.10 ?
@jarrpa

[2018-06-05 06:44] gouyang opened #259 "it's still v0.4.1 after deployed kubevirt"
PR #230 has updated the version to `0.5.0` in `vars/all.yml`, but it's still `0.4.1` after deployed kubevirt. It should be caused by the version in `roles/kubevirt/defaults/main.yml` overwrite the version in `vars/all.yml`. Should we have this variable in both place or just keep one in `vars/all.yml`.

[2018-06-05 07:10] nixpanic opened #260 "StorageClass fails to work on single-node Gluster environment"
There is [`volumeoptions: "group virt"`](https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/storage-glusterfs/templates/storage-glusterfs.yml.j2#L29) which will fail to apply for non-replicated volumes. This will cause failure on creating PVs through this StorageClass.

On single-node deployments, we probably should enable a subset of the `group virt` options. The options are listed in

[2018-06-05 08:15] lukas-bednar commented on #259
@gouyang thanks for report!

[2018-06-05 08:19] lukas-bednar commented on #252
@shiywang Gal is working on enabling cns on CI for ocp-3.10 in pr #241.

[2018-06-05 08:29] KritikaDhananjay commented on #260
group-virt for non-replicate volumes (after dropping the AFR options):

performance.quick-read=off
performance.read-ahead=off
performance.io-cache=off
performance.low-prio-threads=32
network.remote-dio=enable
cluster.server-quorum-type=server
features.shard=on
user.cifs=off

[2018-06-05 12:23] gouyang commented on #201
I have met several issues like this one because of the latest kubevirt.yml and templates are not downloaded to /tmp. Please take a look at #202, if any action I need to do please let me know. Or please just fix it and I'd like to close that PR. Thanks.

[2018-06-06 11:09] #259 closed

[2018-06-06 11:56] lukas-bednar commented on #239
@shiywang  Actually there is localhost by design of APBs, this playbook is supposed to be executed inside of [APB container](https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/design.md).

We have PR about it with some discussion going around https://github.com/kubevirt/kubevirt-ansible/pull/193#pullrequestreview-112213308

Please feel free to address your points the

[2018-06-06 14:28] #237 closed

[2018-06-07 13:05] nellyc commented on #18
@gbenhaim @lukas-bednar can we close this issue?

[2018-06-07 13:07] nellyc commented on #44
@gbenhaim when do we want to target this? mvp0.1.2 sounds fair?

[2018-06-07 13:12] nellyc commented on #86
@dcritch please check your PR, update and merge :)

[2018-06-07 13:16] nellyc commented on #112
@gbenhaim whats the status?

[2018-06-07 13:17] nellyc commented on #141
this is not an issue. closing

[2018-06-07 13:17] #141 closed

[2018-06-07 13:18] #18 closed

[2018-06-07 13:27] nellyc commented on #208
will become irrelevant because we are not going to provision storage, so there will be no need to deprovision. closing

[2018-06-07 13:27] #208 closed

[2018-06-07 13:31] nellyc commented on #215
@rthallisey please link your PR with the storage issues

[2018-06-07 13:34] nellyc commented on #219
will become obsolete

[2018-06-07 13:34] #219 closed

[2018-06-07 13:41] rthallisey commented on #215
Going to detach storage from kubevirt.  @aglitke looks like the storage-demo isn't working any more.  Do we want to keep it around?

[2018-06-07 13:44] nellyc commented on #234
@aglitke ping

[2018-06-07 14:11] dcritch commented on #239
Confirmed that this is addressed in PR [193](https://github.com/kubevirt/kubevirt-ansible/pull/193/)

[2018-06-07 14:13] dcritch commented on #195
This will be fixed with PR [193](https://github.com/kubevirt/kubevirt-ansible/pull/193/)

[2018-06-08 08:00] #247 closed

[2018-06-08 14:43] #221 closed

[2018-06-08 17:37] lukas-bednar opened #268 "CDI is not deployed from APB"
Following snippet of playbook is included by kubevirt-apb in order to execute storage related playbooks.
Unfortunately these tasks gets skipped because inside of APB there are no `masters` / `nodes` groups defined.
https://github.com/kubevirt/kubevirt-ansible/blob/75f436532b79ef5d77393d0d61b70928e61fed9b/playbooks/storage.yml#L2-L10

Output from APB execution
[code]

cc @rthallisey

[2018-06-08 17:58] rthallisey commented on #268
The apb-base is out of date in the kubevirt-apb.  Updating it now.

[2018-06-09 07:23] shiywang opened #270 "stroage-demo: hard-coded target node could choose master"
currently storage-demo select nodes just hard-coded item[0] [here](https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/storage-demo/tasks/provision.yml#L30) this is not right when this situation happened:

[code]

[2018-06-10 09:11] gbenhaim opened #273 "Compile the tests while deploying the cluster"
Test compilation takes ~10 minutes, it will save some time if the compilation will take place while deploying the cluster.

[2018-06-10 11:39] shiywang opened #274 "Failed to provision volume with StorageClass "kubevirt": failed to create volume: failed to create volume: Token used before issued"
[code]

[code]

[2018-06-10 11:40] fabiand commented on #274
/cc @aglitke @nellyc

[2018-06-11 09:11] #250 closed

[2018-06-11 12:38] lukas-bednar commented on #268
@rthallisey I rebuilt my environment, and there is no CDI deployed :-/
I think this is an issue:
[code]

[2018-06-11 13:33] rthallisey commented on #268
asb-base-scripts is missing my pr that fixes this.  That package needs to be rebuild and picked up by the latest dockerfile.  Working on that now.

[2018-06-11 13:47] rthallisey commented on #268
https://bugzilla.redhat.com/show_bug.cgi?id=1589841

[2018-06-11 13:47] rthallisey commented on #268
I'm going to build kubevirt-apb from canary until we release 3.10.z

[2018-06-11 14:15] jarrpa commented on #260
Just to chime in: I can't think of a way to detect single-node mode off-hand. The deployment would just have to choose one set of options or the other based on knowing the user input for either single- or multi-node deployments.

[2018-06-11 15:23] lukas-bednar commented on #268
@rthallisey I rebuilt it and I am back with permission issue ...

[code]

[2018-06-12 07:14] qwang1 commented on #274
I think it's a known issue: https://bugzilla.redhat.com/show_bug.cgi?id=1541323 . @shiywang Please update your glusterfs/heketi image with the latest rhel7. I used this way to work around.

[2018-06-12 07:27] #268 closed

[2018-06-12 09:03] #232 closed

[2018-06-12 09:04] qwang1 opened #281 "Failed provision will automatically cause many deprovision temporary projects generated"
Hi there,

Once an APB provision failed, the deprovision process will continuously generate many temporary projects like this:

[code]

[2018-06-12 09:50] lukas-bednar commented on #281
@rthallisey Do you have any idea what we can do about it ?

[2018-06-12 13:22] shiywang commented on #274
use this as a workaround
[code]

[2018-06-12 14:49] sreichar commented on #270
storage roles are being removed from kubevirt-ansilble and kubevirt-apb

[2018-06-12 15:29] gbenhaim commented on #47
@nellyc, Didn't we decide not to go with this option, and have our own tests?

[2018-06-12 15:48] nellyc commented on #274
@shiywang lets wait for the next build and retest

[2018-06-12 15:53] sreichar commented on #270
https://github.com/kubevirt/kubevirt-ansible/pull/264

[2018-06-12 16:00] sreichar commented on #215
storage roles being removed with: https://github.com/kubevirt/kubevirt-ansible/pull/264

[2018-06-12 16:04] nellyc commented on #214
functionality is being removed.
marking as wont fix

[2018-06-13 06:17] shiywang commented on #274
@nellyc hi, do you know who is responsible for maintain this registry `registry.reg-aws.openshift.com:443` ?  so when I used openshift-flexy job to build glusterfs for my test, it works well because it use `brew-pulp-docker01.web.prod.ext.phx2.redhat.com:8888` But this  `registry.reg-aws.openshift.com:443` is not maintained by openshift-qe, and it blocked my work.

[2018-06-13 08:22] shiywang opened #284 "CDI: Failed to list *v1alpha1.DataVolume: datavolumes.cdi.io is forbidden:"
[code]

with kubevirt change to v0.6.0 seems there's a new resources added but we don't add it in cdi ClusterRole, I'm worried about this tighten cdi roles will make code constantly change when new resource being added, and sometimes we forgot to add it then it won't works.

@copejon @jeffvance
@gbenhaim @fabiand @rmohr

[2018-06-13 09:04] shiywang commented on #284
Okay, I check the latest code, there's some change here, and issue https://github.com/kubevirt/containerized-data-importer/issues/192 to track this, but our kubevirt-ansible already update to v0.6.0, but cdi seems haven't synced up with it.

[2018-06-13 12:35] shiywang commented on #274
hey @qwang1, I updated all the registry, but seems it still doesn't work...
[code]

[2018-06-13 13:48] gbenhaim commented on #284
What do we need to do in order to catch this kind of errors in CI?

[2018-06-13 13:49] nellyc commented on #47
@gbenhaim we need to run all functional tests, so both containerized kubevirt/cdi tests and kubevirt-ansible tests

[2018-06-13 16:49] davidvossel commented on #284
hey,

So there's a few problems going on here. I'll describe what I see.

1. CDI's release appears to be getting overwritten with every commit at the moment. This means for example that someone using the CDI v0.5.2 will get different code each time they they deploy depending on what happend upstream

So, we have to make CDI releases immutable.

2. Kubevirt-ansible isn't pulling manifests from CDI

[2018-06-13 23:15] jeffvance commented on #284
Related: [cdi issue 203](https://github.com/kubevirt/containerized-data-importer/issues/203)

[2018-06-14 01:09] shiywang commented on #284
Enable glusterfs and once my pr https://github.com/kubevirt/kubevirt-ansible/pull/246 merged, I think we should be able to catch this kind of errors.

[2018-06-14 01:16] shiywang commented on #284
This presents the same problem's that we have with KubeVirt. Just like the KubeVirt manifest changes between releases, CDI will do the same. The upstream CDI controller manifest has the 'list' permissions for the DataVolume object, but the kubevirt-ansible version does not.

This is what me and @lukas-bednar have to update the manifests every time, I would say so far manually update is still accep

[2018-06-14 10:26] shiywang opened #287 "Cannot access storage file '/var/run/kubevirt-private/vm-disks/pvcvolume/disk.img' (as uid:107, gid:107): No such file or directory'"
with datevolume introduced, seems the pvc created without using importer pod ? but create a vm failed

[code]

[2018-06-14 10:44] shiywang commented on #287
@davidvossel so I check the pr description, seems the workflow is not about create an pvc and let the cdi controller scan pvc and using importer pod to write data anymore, Do you have a docs about how to use data volume to operate ?

[2018-06-14 14:18] davidvossel commented on #287
@shiywang DataVolume integration with KubeVirt is incomplete. We are still defining this workflow.

More information on that can be found in this google doc. https://docs.google.com/document/d/1hFS7w_z_Y6xkqBTijDZs172o-TxWsvfPT2JLiQIMPPM/edit?usp=sharing

[2018-06-19 05:41] qwang1 commented on #274
@shiywang Hi, after updating the registry, don't forget to restart glusterfs-storage pod and heketi-storage pod to make the change take effect.

[2018-06-19 09:35] lukas-bednar opened #291 "KubeVirt installation fails on finding of kubevirt/v0.7.0-alpha.2/cluster/vm-template-rhel7.yaml"
[code]

[2018-06-19 09:36] lukas-bednar commented on #291
cc @rthallisey

[2018-06-19 09:46] lukas-bednar commented on #291
These templates moved to under `cluster/examples/` directory.

[2018-06-19 10:44] karmab commented on #291
should be addressed by https://github.com/kubevirt/kubevirt-ansible/pull/292

[2018-06-19 10:48] lukas-bednar commented on #291
We need to change also this script in apb repository: https://github.com/ansibleplaybookbundle/kubevirt-apb/blob/master/download-templates.sh

[2018-06-19 11:10] lukas-bednar commented on #291
APB is addressed here: ansibleplaybookbundle/kubevirt-apb#65

[2018-06-19 13:35] nellyc commented on #214
storage types were removed. closing

[2018-06-19 13:35] #214 closed

[2018-06-19 13:35] dcritch commented on #15
So we want that line to run against all masters, not just master[0]?

[2018-06-19 13:36] nellyc commented on #215
storage type removed. closing

[2018-06-19 13:36] #215 closed

[2018-06-19 13:41] nellyc commented on #239
@dcritch can we close this one?

[2018-06-19 13:46] dcritch commented on #239
@nellyc yup

[2018-06-19 13:47] nellyc commented on #287
closing it for now as we are testing a partial solution.
@shiywang once the integration will be done, we can reopen if this is still an issue

[2018-06-19 13:47] #287 closed

[2018-06-19 14:00] gbenhaim commented on #44
@nellyc  How much time do we have until `mvp0.1.2`?

[2018-06-19 14:04] nellyc commented on #44
@gbenhaim approx 2 months

[2018-06-19 14:38] aglitke commented on #234
Fixed by #288

[2018-06-19 15:02] #234 closed

[2018-06-19 17:39] lukas-bednar commented on #15
The line reads `# add to master possibility to schedule pods` So I guess that if we have more masters we probably want to all of them be schedulable ... I am not sure.

[2018-06-19 17:47] #291 closed

[2018-06-19 19:01] dcritch commented on #15
Submitted PR293 to address this

[2018-06-20 03:07] #270 closed

[2018-06-20 07:50] gbenhaim commented on #44
We can have it in 2 months.

[2018-06-22 07:01] #252 closed

[2018-06-25 09:45] shiywang opened #296 "Determine the heketi route hard coded task failed with glusterfs external_provisioner=true"
[code]

[2018-06-25 09:47] shiywang commented on #296
@gbenhaim

[2018-06-25 10:57] shiywang opened #297 "Lago collects logs doesn't contain cdi-controller and importer-pod"
See discussion here: https://github.com/kubevirt/kubevirt-ansible/pull/246#issuecomment-399912103

@gbenhaim @copejon @jeffvance

[2018-06-25 11:39] gbenhaim opened #298 "3 Different playbooks contains "cdi" role"
[code]

Is this a bug?

[2018-06-25 12:44] shiywang commented on #298
since `kubevirt-ansible` used as an upstream dependency for `kubevirt-apb`, so the `cdi` role in `playbooks/kubevirt.yml` was added due to that IIUC. and storage.yml also need `cdi` role, so I don't think it's a bug, also I tried deploy `cdi` multiple times, it seems like an "Idempotent" operate to me currently.

But my words doesn't count, so let @aglitke to chime in to give a more authoritative

[2018-06-25 13:42] aglitke commented on #298
CDI is now coupled with the kubevirt install so it should defintely be in kubevirt.yml.  We should remove it from storage.yml.  cdi.yml is a convenience playbook to help you deploy just cdi.  I don't think it is used by anyone but developers.  I would propose to keep it.

[2018-06-25 13:51] shiywang opened #300 "PVC endpoint image should be more flexible instead of hard coded"
So currently hard coded url here https://github.com/shiywang/kubevirt-ansible/blob/3e1bd7c037832a132808870dde523ee492bc5f81/tests/cdi/cdi_test.go#L18 is using a public url and we should be able to replace this hard coded url when another enviorment

@nellyc is this what you mean here ?

[2018-06-25 15:41] #298 closed

[2018-06-26 01:25] shiywang opened #301 "CDI role should pulling the manifests from the CDI project like Kubevirt role did"
This is a discussion came from here https://github.com/kubevirt/kubevirt-ansible/pull/285#issuecomment-399999961,  I'll take a look at this one.

[2018-06-26 08:37] #284 closed

[2018-06-26 12:21] nellyc commented on #211
@qwang1 is this still relevant? storageclasses were removed.
can we close it?

[2018-06-26 13:14] lukas-bednar opened #302 "Deployment via APB is failing for 0.7.0-alpha.4"
[code]

cc @rthallisey

[2018-06-26 14:18] rthallisey commented on #302
Looks like the container expects virt-api in /.  It was moved to /usr/bin/virt-api after https://github.com/kubevirt/kubevirt/pull/1210

[2018-06-27 05:54] shiywang opened #304 "CI/Openshift-Ansible need to find a way to enable DefaultStorageClass in admission controller"
So currently CI will failed if I remove my storageclass in pvc yaml file, but according to the docs https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/#enabling-dynamic-provisioning, we should be able to enable dynamic provisioning for pvc to choose the default storageclass.

So I check the code it may related to openshift-ansible repo `openshift-ansible/roles/openshift_service_catal

[2018-06-27 06:47] shiywang commented on #304
It could also be our StorageClass yml file doesnt has `storageclass.kubernetes.io/is-default-class:true` I will  submit a pr to test that

[2018-06-28 06:19] vatsalparekh commented on #281
@sreichar @rthallisey yes this seems similar to https://github.com/ansibleplaybookbundle/import-vm-apb/issues/25
I was seeing the same thing in that issue

[2018-06-28 10:10] #195 closed

[2018-06-28 11:07] qwang1 commented on #211
@nellyc
I'd like to clarify these questions before giving an answer:
Q1. For now StorageClass were removed from import-vm-apb https://github.com/ansibleplaybookbundle/import-vm-apb/pull/29 , will it be removed from kubevirt-apb or other APB(if have) as well?
Q2. Storage and kubevirt has been decoupled and can't show on web console. We won't keep them deploying together through kubevirt-ansible on

[2018-06-28 11:17] nellyc commented on #211
@qwang1
Q1: Yes, the APBs will be storage agnostic. i believe it was already removed from kubevirt-ansible, and should reflect in the APB
Q2: If you are asking about decoupling kubevirt & CDI installation, thats incorrect, CDI is still installed as part of the kubevirt installation, it just doesnt 'care' about the storage backend which is being used, it takes the default
Q3: AFAIK yes

[2018-07-02 13:29] rthallisey commented on #281
I haven't reproduced myself.  What version of the broker is this?

[2018-07-02 14:41] alexxa opened #310 "Invalid URLs in this repo"
I used a [bash script](https://github.com/alexxa/check_url/blob/master/urlcheck.sh) to scan this repo for invalid URLs. There are few [1]:

`http:/jenkins.ovirt.org` is ok, it's just didn't pass timeout.

[1]
[code]

[2018-07-02 14:42] alexxa commented on #310
And I think we can add a cron job in travis to scan this repo for invalid URLs regularly. What do you think @gbenhaim ?

[2018-07-03 07:47] qwang1 commented on #281
@rthallisey Hi, I haven't met this these days. It supposed to occur between OCP v3.10.0-0.63.0_2018-06-06.1 to OCP v3.10.0-0.67.0_2018-06-12.1, and broker should have the same version with OCP. Should we put this issue aside temporarily until it happens again or we help you to reproduce it?

@vatsalparekh Do you have any supplements?

[2018-07-03 08:13] lukas-bednar commented on #281
I can confirm this behavior on v3.10.0-0.66.0. This issue happened when:
1) apb provisioning failed -> triggering apb deprovision
2) apb deprovision failed -> triggering another apb deprovision
3) new apb deprovision fails again -> going back to step `2)`

I didn't see this issue for a while, because I didn't see APB provisioning fail ...
I believe that this issue is more related to broker than to

[2018-07-03 10:43] rthallisey commented on #281
@lukas-bednar agreed, this is broker behavior.  @qwang1 Can you port this over to https://github.com/openshift/ansible-service-broker ?  Closing it in this repo.

[2018-07-03 10:43] #281 closed

[2018-07-03 12:52] nellyc commented on #302
@rthallisey can we close this one?

[2018-07-03 12:56] nellyc commented on #301
@copejon any updates on this one?

[2018-07-03 12:56] rthallisey commented on #302
It's still relevant until https://github.com/kubevirt/kubevirt-ansible/pull/295 merges

[2018-07-04 07:39] #248 closed

[2018-07-04 11:11] qwang1 opened #312 "Failed to import VM from URL"
Hi there,

I failed to use import-vm-apb to import a vm or template via URL. I used this as disk image: http://download.eng.bos.redhat.com/brewroot/packages/rhel-guest-image/7.6/70/images/rhel-guest-image-7.6-70.x86_64.qcow2 . Anything I did wrong? Besides, I'd like to know why the command "oc logs" shows it sticks when "Get content metadata", but run ansible-playbook in the sandbox shows it stick

[2018-07-05 09:40] qwang1 opened #313 "Question: storage roles test or not?"
Hi there,

Since storage type has been removed from kubevirt, glusterfs-storage is the default, storage_role has not been used in kubevirt-ansible,  and I noticed some roles of kubevirt-ansible are continue to update, so I'd like to confirm these things:

1. The previous storage types (storage-demo, storage-none, glusterfs-storage ) won't need to be tested by manually running ansible-playbook?
2.

[2018-07-05 18:20] aglitke commented on #313
You do not need to test the storage roles anymore.

On Thu, Jul 5, 2018 at 5:43 AM Qixuan Wang <notifications@github.com> wrote:

--
Adam Litke

[2018-07-05 19:00] #313 closed

[2018-07-11 08:55] qwang1 commented on #222
This import-vm-disk-apb is replaced by https://github.com/ansibleplaybookbundle/import-vm-apb , so close it.

[2018-07-11 08:55] #222 closed

[2018-07-11 08:57] qwang1 commented on #211
Do not need to test the storage roles anymore, so close it.

[2018-07-11 08:57] #211 closed

[2018-07-11 13:16] qwang1 commented on #312
Version: kubevirt v0.7.0, cdi-controller:v1.0.0, asb 1.2.17

Downloaded image http://www.tinycorelinux.net/9.x/x86/release/TinyCore-9.0.iso , it worked.

Downloaded image from http://download.eng.bos.redhat.com/brewroot/packages/rhel-guest-image/7.6/70/images/rhel-guest-image-7.6-70.x86_64.qcow2

[code]

Questions:
1. Downloading big size of image is supported? AFAIK, 3GB iso images don't work.
2.

[2018-07-12 11:09] qwang1 commented on #281
Track it here: https://github.com/openshift/ansible-service-broker/issues/1010

[2018-07-18 14:48] lukas-bednar opened #322 "KubeVirt deprovision doesn't count with offline templates"
When taking look at `roles/kubevirt/tasks/deprovision.yml` I see that it doesn't check if offline templates are available.

@rthallisey is this intentional ?

[2018-07-18 14:51] lukas-bednar commented on #322
I also noticed that deprovisioning doesn't remove VM templates. Is it ok ?

[2018-07-18 22:09] nellyc commented on #312
I think this issue belongs to the CDI repo.
qcow2 to raw is supported, we demonstrated this flow

[2018-07-19 05:22] shiywang opened #324 "add documentation in README.md about CDI e2e test"
once pr https://github.com/kubevirt/kubevirt-ansible/pull/246 merged, I will add a documentation about how to run e2e test and env var `STREAM_IMAGE_URL`

[2018-07-19 08:43] lukas-bednar commented on #322
I mean VM Templates, these which are installed by provision.yml playbook.

[2018-07-20 20:04] sreichar opened #327 "Need to specify IMPORTER_IMAGE in controller manifest jinja"
When IMPORTER_IMAGE is not set, the controller will launch importer using docker.io/kubevirt/cdi-importer

Believe we need to modify kubevirt-ansible/roles/cdi/templates/cdi-controller-deployment.yml
to have a env variable name IMPORTER_IMAGE set to {{ repo_tag }}/virt-cdi-importer:{{ release_tag }}

[2018-07-23 02:58] #324 closed

[2018-07-23 03:06] #304 closed

[2018-07-23 03:06] #297 closed

[2018-07-23 03:06] #244 closed

[2018-07-23 03:07] shiywang commented on #86
@nellyc guess we can close this one

[2018-07-23 13:05] qwang1 commented on #312
I used a small sized qcow2, it works.

[2018-07-23 13:05] #312 closed

[2018-07-24 06:42] gouyang commented on #324
Although this issue is closed, I think it would be better to put tests related documentation in tests/xxx/README.md.

[2018-07-24 12:54] nellyc commented on #96
@rthallisey any updates on this one?

[2018-07-24 12:55] nellyc commented on #146
@rthallisey any updates?

[2018-07-24 12:58] nellyc commented on #302
@rthallisey can we close this issue now that the PR was merged?

[2018-07-24 13:00] #274 closed

[2018-07-24 13:06] #302 closed

[2018-07-24 13:08] rthallisey commented on #146
This is some tech debt that I'll come back to when I have time.  There are a few other issues that are higher priority right now.  Going to unassign myself in case someone wants to take this for now.

[2018-07-30 01:19] #300 closed

[2018-07-30 09:16] gouyang opened #336 "test function ProcessTemplateWithParameters isn't flexible"
The problems I can think of:
1. It does not work with template from openshift namespace, like ` oc process -n openshift fedora-vm-template  -p NAME=fedora`
2. It's hard coding "-p", cannot handle `oc process -n openshift fedora-vm-template  -p NAME=fedora -p CPU=2 -p MEMORY=2048`

It can be simplified as `func ProcessTemplateWithParameters(dstFilePath string, params ...string) string`

@shiywang

[2018-07-30 11:15] shiywang commented on #336
thanks for the suggestion!! for 1,2. it looks like the same issue for me, so I will add namespace into this function and make it more flexible in a follow-up pr. For parameter I can add an exposed function only deal with the template fetch from openshift namespace.

[2018-08-02 13:36] gouyang opened #343 ""flag redefined: ginkgo.seed" occurs when run test under directory tests"
I can't get rid of this error when trying to run test directory tests, it just won't run if import `kubevirt.io/kubevirt/tests` in any file.

[code]

[2018-08-02 14:04] gouyang commented on #343
I doubt it's an issue in `kubevirt/tests` because it calls flag.Parse()` more than once.

[2018-08-03 03:27] shiywang commented on #343
there're two places you need to change to make your code being executed by CI
`hack/common.sh` `hack/run-tests.sh`

[2018-08-03 07:02] andrewwebber opened #345 "Why not install kubevirt with a daemonset"
Why do I need ansible to install kubevirt on a large cluster?
Is it not possible to install kubevirt as a kubernetes daemonset?
My fear is that as the cluster autoscales , ansible discovery is required to find new nodes and install kubevirt.

[2018-08-03 10:38] gouyang opened #346 "It should not name func as "exec" as it's used in stdlib"
https://github.com/kubevirt/kubevirt-ansible/blob/41e68486bd765bc331c664f107cc02eaf1aafe4d/tests/util.go#L71

I have a problem because this func "exec"

[code]

Fix in in #344

[2018-08-06 08:35] rmohr commented on #345
Hi @andrewwebber

You don't need it. `kubevirt-ansible` is more like an opinionated all-in-one installer and manager. Like `kuberenets-ansible` or `openshift-ansible`.

If you have a k8s 1.10 cluster or up and did not disable any beta feature gates (beta features are enabled by default), you can also just apply a `kubevirt.yaml` from the release page: https://github.com/kubevirt/kubevirt/releases.

[2018-08-06 09:55] andrewwebber commented on #345
This is a relief, as my understanding was that Ansible requires SSH access to each node. My knowledge of course could be out dated.

[2018-08-07 11:34] sreichar commented on #345
Also kubevirt-ansible will install CDI.   Again this can be done through manifest.   But as Roman states, kubevirt-ansible is an opinionated installer of the integrated projects under kubevirt.

[2018-08-08 04:13] gouyang opened #348 "Need to install virtctl on ovirt ci environment"
See details in http://jenkins.ovirt.org/job/kubevirt_kubevirt-ansible_standard-check-pr/1077//artifact/check-patch.openshift_3-10.el7.x86_64/mock_logs/script/stdout_stderr.log

One test step is failed because of "can not find virtctl binary".

[2018-08-08 04:25] gouyang opened #349 "Add flag kubectl-path for tests in hack/run-tests.sh"
Details in http://jenkins.ovirt.org/job/kubevirt_kubevirt-ansible_standard-check-pr/1077//artifact/check-patch.openshift_3-10.el7.x86_64/mock_logs/script/stdout_stderr.log.

The tests is failed at below lines, the root cause is it cannot find kubectl binary, add `-kubectl-path=/usr/bin/kubectl` should fix it.

[code]

And it surprise me that it's not happened to oc.

[2018-08-08 05:55] shiywang commented on #349
Yes, because oc has a `lookup` function, but it had already been removed by upstream, so once we upgrade vendor, it will become a problem.

[2018-08-08 06:02] shiywang commented on #327
I'm working on it

[2018-08-09 07:45] gouyang commented on #343
Don't see this problem if run tests in `kubevirt.io/kubevirt-ansible/tests`.

[2018-08-09 07:45] #343 closed

[2018-08-09 07:48] gouyang commented on #349
Change the code to use "oc adm drain" now.

[2018-08-09 07:48] #349 closed

[2018-08-12 02:53] shiywang commented on #348
[code]
Same problem in my pr https://github.com/kubevirt/kubevirt-ansible/pull/354

[2018-08-13 07:57] #348 closed

[2018-08-20 16:44] jeffvance opened #360 "CDI local (file://) support is being deprecated"
This is notice to the kubevirt-ansible community that CDI is deprecating the local endpoint feature.
See CDI issue [338](https://github.com/kubevirt/containerized-data-importer/issues/338) and the kubevirt-dev [notice](https://groups.google.com/forum/#!topic/kubevirt-dev/4chxpT29nbo) for more details.
If kubevirt-ansible has CDI tests replying on local endpoints these tests need to be changed to u

[2018-08-23 08:29] shiywang opened #362 "CDI clone need to enable privileged containers in the security context"
related to https://github.com/kubevirt/containerized-data-importer/issues/295

[2018-08-26 09:13] #362 closed

[2018-08-28 12:54] nellyc commented on #322
@rthallisey any updates on this one?

[2018-08-29 08:26] shiywang opened #368 "Can someone gives me a label permission?"
Can someone gives me a label permission so I can triage issues and PRs which contain automation work?
voluntarily do this job if it's possible.

@gbenhaim @nellyc @lukas-bednar @alexxa

[2018-08-31 08:46] lukas-bednar opened #370 "kubevirt-role: Use KubeVirt health check to verify that KubeVirt is running"
Based on discussion at [BZ#1597263](https://bugzilla.redhat.com/show_bug.cgi?id=1597263#c4), it would be great if we can add health check at the and of kubevirt-role, so that we can ensure that KubeVirt was really deployed ...

[code]

This should avoid false positive deployment, where ServiceInstance seems to be provisioned successfully but KubeVirt is not really running.

Unfortunately this feat

[2018-09-07 05:05] gouyang opened #378 "VM memory validate should be more restricted"
Currently the parameter of memory is a string, the validation of the example below is PASS, after the VM is created, it be started and get into `running` status, but it's not a functional VM, it should be caused by the parameter `MEMORY=2048`.

[code]
The working one is:
[code]

As an end user, I might run into the first situation, everything seems go fine but the VM is not functional.
I'd like to

[2018-09-10 09:18] shiywang opened #381 "CDI E2E test need to also test local-storage environment"
So currently our cnv-jenkins job already deploy local storage, and it's easy to using `oc patch` to switch default glusterfs to local storage.

But Has our CI supported it yet?

@gbenhaim @nellyc

[2018-09-10 11:04] shiywang opened #382 "CI Failed in branch check-patch.openshift_3-10.el7.x86_64"
Full log: http://jenkins.ovirt.org/job/kubevirt_kubevirt-ansible_standard-check-pr/1226/consoleFull

@gbenhaim

[2018-09-10 11:05] shiywang commented on #346
we can close this one @nellyc @gbenhaim

[2018-09-10 23:28] #346 closed

[2018-09-12 10:14] vatsalparekh opened #385 "should have option to pass custom timeout"
https://github.com/kubevirt/kubevirt-ansible/blob/8d91e5da424729865847d5520f482e2e64754c60/tests/util.go#L147

tests such as v2v #352 might require more then 2m to appear, having a param to pass custom waiting time would be helpful in such cases

[2018-09-12 10:43] shiywang commented on #385
yes, we can do that, I'll add it in a folloow up pr

[2018-09-12 11:48] shiywang commented on #385
fixed in https://github.com/kubevirt/kubevirt-ansible/pull/384
@vatsalparekh

[2018-09-12 12:46] shiywang opened #387 "FUNC_TEST_ARGS still has problem with BeforeSuite and AfterSuite"
[code]

[2018-09-16 12:27] nellyc commented on #381
+1 on adding it to Travis CI

another option can be to skip tests if local storage is not deployed

[2018-09-26 06:52] #201 closed

[2018-10-01 10:32] vatsalparekh opened #394 "Define common environment variables"
Commonly used details about kubevirt/openshift cluster details should be available as environment variables to be used by tests in CI

[2018-10-01 13:19] lukas-bednar commented on #394
As discussed on call with Vatsal, there is a need to manipulate with sensitive data which are not really good to be stored in repository.

I like how ManageIQ project is dealing with this issue - create eyaml (encrypted yaml) with all sensitive content, and export single variable with a Key to decode this file on runtime.

We can do exactly the same here ... if you have other suggestion please sha

[2018-10-02 14:05] myakove opened #396 "Failed to deploy Multus from remote machine"
When trying to deploy Multus from a remote machine (not from the master) we fail with an error:
Tuesday 02 October 2018  17:01:59 +0300 (0:00:00.022)       0:00:00.208 *******
Using module file /home/myakove/.local/lib/python2.7/site-packages/ansible/modules/commands/command.py
<172.16.0.16> ESTABLISH LOCAL CONNECTION FOR USER: myakove
<172.16.0.16> EXEC /bin/sh -c 'sudo -H -S -n -u root /bin/sh -

[2018-10-02 19:53] rwsu opened #398 "CDI provisioning does not work with upstream kubernetes because oc command is missing"
The CDI provision role needs to be adjusted to also accommodate upstream kubernetes where "oc" is not available and possibly where this task is not necessary.

ansible-playbook -i inventory -e apb_action=provision -e cdi_image_namespace=golden --connection=local playbooks/cdi.yml

TASK [cdi : Create CDI deployment] ********************************************************************
Tuesday 02 Oct

[2018-10-03 08:12] gbenhaim commented on #382
Can I close it?

[2018-10-03 08:15] gbenhaim commented on #394
@vatsalparekh Do you have a specific requirement? What deployment do you need?

[2018-10-03 12:59] SchSeba commented on #396
@gbenhaim This is unrelated to the network playbook it also append on the kubevirt playbook.

After looking into the logs the problem is that we are running the code as root.
[code]
And the root user doesn't have the config file for the cluster communication.
after running `sudo oc login` the ansible playbook works. (also copy the config file will work)

@myakove Thanks for the help!

[2018-10-03 14:19] gbenhaim commented on #396
@SchSeba Anything need to be changed in kubevirt-ansible?

[2018-10-05 14:11] nixpanic commented on #260
/remove-lifecycle stale

This is still something we want to address. However optimizations for a single-node Gluster environment are not a priority item at the moment.

[2018-10-05 20:55] rwsu opened #401 "Multus provisioning fails with upstream Kubernetes"
If you use kubevirt-ansible to install a kubernetes cluster, it installs weave-net (https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/kubernetes-master/templates/deploy_kubernetes.j2#L10).

The default multus CNI configuration, however, assumes you are using flannel (https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/kubernetes-master/templates/deploy_kubernetes.j2#L10).

[2018-10-07 05:47] yuvalif commented on #188
@dcritch is it safe to close the issue? was it addressed by PR #282 ?

[2018-10-07 07:49] SchSeba commented on #396
@gbenhaim I dont know if the is intended or maybe need to document it.
Adding @lukas-bednar maybe he can help us.

[2018-10-08 21:09] rwsu opened #405 "weave-net installation should be more resilient if there is a conflict with its IP allocation range"
/kind bug

**What happened**:

Upstream kubernetes install fails if the IP allocation range for weave-net is already in use. An example is when a user has a VPC in Amazon EC2 that uses the 172.30.0.0/16 CIDR. When this happens it causes the weave pod to go into CrashLoopBackOff. And examining the log for the weave pod shows:

$ kubectl logs weave-net-x588f -c weave -n kube-system
Network 172.30.0.

[2018-10-15 13:08] #401 closed

[2018-10-17 18:51] dcritch commented on #188
@yuvalif Yup, this can be closed

[2018-10-17 18:52] dcritch commented on #15
This can be closed via PR#293

[2018-10-17 19:06] #188 closed

[2018-10-19 07:49] lukas-bednar commented on #15
Thanks

[2018-10-19 07:49] #15 closed

[2018-10-22 03:06] shiywang commented on #86
/close

[2018-10-22 03:07] #86 closed

[2018-10-22 03:07] shiywang commented on #86
/close

[2018-10-22 03:08] shiywang commented on #86
/close

[2018-10-25 09:20] vatsalparekh commented on #394
@gbenhaim @lukas-bednar I was mainly referring to having details like ocp user/pass, vmware cluster details as env var so tests can consume it. But we can go with yamls as well, my main request was to have them defined common so we can remove hard-coding them in tests.

[2018-10-26 09:02] shiywang opened #428 "CDI e2e test failed because importer-pod being deleted by controller proactively"
In new CDI controller logic, it will immediately delete the importer-pod

[code]

instead we might need to use oc get event to check image import success

[2018-10-26 09:02] shiywang commented on #428
/assign

[2018-10-27 09:35] shiywang opened #429 "we should have a way to filter for advanced importer-pods status"
issue like this https://github.com/kubernetes/kubernetes/issues/49387

currently for `oc/kubectl` only "metadata.name", "metadata.namespace", "spec.nodeName", "spec.restartPolicy", "spec.schedulerName", status.phase", "status.podIP", "status.nominatedNodeName", "sepc.nodeName" are supported.

but we a pod keep `Error` or `CrashLoopBackOff` the status.phase is still running, we might want to use
jq

[2018-10-27 09:36] shiywang commented on #429
/assign

[2018-11-02 07:27] adityaramteke opened #436 "vendor is not up-to-date"
**What happened**

Vendor is not uptodate casuing an error:
`# kubevirt.io/kubevirt-ansible/tests_test [kubevirt.io/kubevirt-ansible/tests.test]
./rbac_test.go:32:13: undefined: "kubevirt.io/kubevir-ansible/vendor/kubevirt.io/kubevirt/tests".RunCommandWithNS
`

[2018-11-05 09:36] shiywang commented on #301
this one was fixed by my pr

[2018-11-05 09:36] #301 closed

[2018-11-05 09:37] shiywang commented on #327
it was fixed, I think we can close

[2018-11-06 04:47] adityaramteke commented on #436
Resolved https://github.com/kubevirt/kubevirt-ansible/pull/412

[2018-11-06 04:47] #436 closed

[2018-11-08 06:43] gouyang opened #447 "login with test_admin before each test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
It seems some PR is failed because the error below, which seems caused by #388.
It need to login with test_admin again after the RBAC testing.

[code]

[2018-11-11 14:43] gbenhaim opened #454 "Sporadic failures when trying to provision a PVC using Gluster"
Opened a bug https://github.com/heketi/heketi/issues/1421

[2018-11-12 07:10] adityaramteke commented on #447
@gouyang RBAC tests used to log in with the test_admin user after each test https://github.com/kubevirt/kubevirt-ansible/blob/master/tests/rbac_test.go#L40
These errors may occur because of the last test failure or new environment, not set up.

[2018-11-12 23:22] rwsu commented on #405
This issue was fixed in https://github.com/kubevirt/kubevirt-ansible/pull/449

[2018-11-12 23:22] #405 closed

[2018-11-12 23:44] rwsu opened #455 "Installing upstream Kubernetes and then KubeVirt is not tested"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We have no CI coverage to test installation of a Kubernetes cluster and KubeVirt afterwards. Installing Kubevirt on Kubernetes with kubevirt-ansible is currently broken.

**What you expected to happen**:
Installing KubeVirt on Kubernetes with kubevirt-ansible should work. We should have CI coverage to test the installatio

[2018-11-13 23:11] rwsu opened #458 "Installing KubeVirt on upstream Kubernetes is broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Ansible playbook fails to install KubeVirt because "oc" command cannot be found.

**What you expected to happen**:
The playbook installs KubeVirt successfully. The playbook should not be executing the "oc" command if the environment/platform is "kubernetes" and not "openshift".

**How to reproduce it (as minimally and pre

[2018-11-14 14:03] gouyang commented on #447
I mean it might need to login with test_admin after the RBAC testing, otherwise other tests might is using `kubevirt-test-user` to execute tests and cause failure as the errors shows above.

[2018-11-14 19:20] markllama commented on #458
* kubectl and origin-clients RPMs conflict
* kubeadm requires kubectl
* ansible playbook uses oc hard-coded
* ansible playbook requests 'projects' from oc, which does not exist in stock kubernetes

[2018-11-15 08:16] gbenhaim opened #470 "Assertion in e2e "PVC with invalid image url" test is racy"
Please see https://github.com/kubevirt/kubevirt-ansible/pull/469

[2018-11-16 08:57] #447 closed

[2018-11-16 09:20] shiywang commented on #428
Also when invalid url of pvc provided, the pod status is always running, but with pod condition `CrashLoopBackOff`

[2018-11-16 10:36] #428 closed

[2018-11-18 17:32] gbenhaim commented on #112
Fixed https://github.com/kubevirt/kubevirt-ansible/blob/master/automation/README.md

[2018-11-18 17:32] #112 closed

[2018-11-18 17:33] gbenhaim commented on #273
Fixed.

[2018-11-18 17:33] #273 closed

[2018-11-18 17:35] gbenhaim opened #472 "Document how to contribute a new test"
In order to onboard new contributors, we need to document how to contribute tests.

[2018-11-20 23:17] rwsu commented on #398
This has been fixed with https://github.com/kubevirt/kubevirt-ansible/pull/457

[2018-11-20 23:17] #398 closed

[2018-11-21 15:10] lukas-bednar opened #477 "Can not spawn new containers after removing multus pods"
When multus is removed, then there are still hanging configuration files on every node.
For example `/etc/cni/net.d/00-multus.conf` .
Presence of this file causes that you can not spawn any new pod after multus removal ...

Note this is clone of https://bugzilla.redhat.com/show_bug.cgi?id=1651693 .

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: No pod can be spawned after multu

[2018-11-27 02:53] gouyang opened #485 "'openshift_master_default_subdomain' is undefined when run kubevirt-web-ui separately"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind enhancement

**What happened**:
'openshift_master_default_subdomain' is undefined when run playbook kubevirt-web-ui separately, because it does not do `oc login` when run the playbook separately.

**What you expected to happen**:
Run playbook kubevirt-web-ui separately is okay.

**How to reproduce it (as minimally and precisely as poss

[2018-11-29 06:48] adityaramteke opened #489 "kubevirt-ansible tests are running with extra namespace argument"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Expected error:
        <*errors.errorString | 0xc4202562e0>: {
            s: "command failed: cannot run command \"/usr/bin/oc create -f tests/manifests/vm_with_sidecar_hook.yml -n kubevirt-test-default -n kubevirt-test-default\": exit status 1",
        }
        command failed: cannot run command "/usr/bin/oc create -f

[2018-11-29 06:52] shiywang commented on #489
I personally suggest we change cli_exec.go to

[code]

[2018-11-29 06:53] adityaramteke commented on #489
/asign @adityaramteke

[2018-11-29 06:58] adityaramteke commented on #489
/asign

[2018-11-29 09:30] gouyang opened #492 "Break changes in kubevirt/tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind enhancement

**What happened**:
Now the kubevirt/tests has introduced an break changes in `RunCommand`, the namespace is hard code in it. It's not extensible if we want to run command with a different namespace, like for template process in `openshift` namespace and operations within `kubevirt-web-ui`.

[code]

**What you expected to h

[2018-11-29 09:43] gouyang commented on #492
It should use `RunCommandWithNS` for now.

[2018-11-29 09:43] #492 closed

[2018-11-29 17:02] booxter opened #494 "OpenShift deployment broken: error: the server doesn't have a resource type "apiservices""
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: attempts to deploy OpenShift using playbooks in the repo fail as follows:

[code]

If kubectl used with master kubeconfig, indeed we can see the resource is not known:

[code]

**What you expected to happen**: it should successfully deploy OpenShift + KubeVirt.

**How to reproduce it (as minimally and precisely

[2018-11-29 18:41] booxter commented on #458
There is a WIP branch to fix some of these issues here: https://github.com/booxter/kubevirt-ansible/tree/fix-kubevirt-ansible

[2018-11-29 18:41] booxter commented on #455
There is a WIP branch to fix some of these issues here: https://github.com/booxter/kubevirt-ansible/tree/fix-kubevirt-ansible

[2018-11-29 18:42] booxter commented on #455
The following issue is related: https://github.com/kubevirt/kubevirt-ansible/issues/458

[2018-11-29 18:44] booxter commented on #458
With the patches included in the forked branch I referenced above, I now experience the following error:

[code]

This also broke my kubectl access to the cluster. I believe multus deployment may have screwed networking on the cluster somehow.

For the record, the k8s cluster was deployed with:

[code]

[2018-12-03 11:57] #489 closed

[2018-12-03 15:04] adityaramteke commented on #472
/assign

[2018-12-03 15:10] adityaramteke commented on #470
@gbenhaim @shiywang I think we should close this.

[2018-12-04 10:14] leongold commented on #477
So I take the error isn't just about dangling configuration files, but rather that multus is not actually deprovisioned?

Multus: Err in loading K8s Delegates k8s args: Multus: Err in getting k8s network from pod: getPodNetworkAnnotation: failed to query the pod bundle-f2366e95-3990-47c2-aa06-4b77829c8cc3 in out of cluster comm: Unauthorized

[2018-12-04 10:35] SchSeba commented on #477
We need to run on all the nodes and remove the multus cni config file ```/etc/cni/net.d/00-multus.conf``` also remove the multus binary can be a nice to have on deprovision.

[2018-12-04 10:43] #249 closed

[2018-12-04 11:04] rmohr opened #503 "Don't disable the firewall of people which use kubevirt-ansible"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

Don't disable selinux **and** the firewall by default if people install kubevirt on an k8s cluster. For as long as this is the case, please announce on as many places as you can that people should not use the playbooks here.

**What happened**:

A quick search revealed this: https://github.com/kubevirt/kubevirt-ansible/search?q=firewalld&un

[2018-12-04 11:33] phoracek commented on #477
@leongold this is what happens:

1) We deprovision RBAC. CNI config and binaries are still on the node
2) Kubernetes picks first config (still multus)
3) Multus binary tries to reach cluster
4) If fails because of RBAC does not allow it anymore

[2018-12-04 11:43] #102 closed

[2018-12-04 11:43] #171 closed

[2018-12-04 12:01] fabiand commented on #503
To note: This is only an issue if kubevirt-ansible is used to deploy kubernetes or openshift with this playbook. IIUIC.

[2018-12-04 12:42] #47 closed

[2018-12-04 12:43] #233 closed

[2018-12-04 12:43] #44 closed

[2018-12-04 13:09] leongold commented on #477
aha, I see, thanks for the clarification @phoracek, I'll look into this

[2018-12-04 13:43] #296 closed

[2018-12-04 13:43] #310 closed

[2018-12-04 14:57] rthallisey commented on #477
Solution was outlined here: https://bugzilla.redhat.com/show_bug.cgi?id=1651693

[2018-12-04 20:00] adityaramteke opened #506 "Invalid URLs in this repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
There are several invalid URLs in this repo:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- kubevirt-ansible version(use `git rev-parse HEAD`):
- KubeVirt version (use `virtctl version`):
- OpenShift/Kube

[2018-12-04 20:00] adityaramteke commented on #506
/assign

[2018-12-05 12:39] gbenhaim opened #508 "Sidecar hook tests uses fc27 VMI"
fc27 is obsolete, thus we shouldn't use it in our tests.

[2018-12-06 03:24] duyanyan opened #509 "Failed to deploy multus/skydive by playbooks/network.yml due to the 'deploy_ovs_plugin' is undefined"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
$ ansible-playbook -i inventory -e apb_action=provision -e deploy_skydive=True playbooks/network.yml

PLAY [nodes masters] **********************************************************************************************************************************************************************************************

TASK [Gathering Fac

[2018-12-06 07:53] ILpinto commented on #508
@gbenhaim
You can see that in the yaml we not point to specific version:
registryDisk:
      image: kubevirt/fedora-cloud-registry-disk-demo:latest
But it not only on this test all the tests are pointing to the same docker namespace and with label latest.
See: kubevirt/tests/utils.go
method: RegistryDiskFor
We don't need to change the tests we need to update the image on docker.io/kubevirt
I just

[2018-12-06 08:49] fabiand commented on #503
@lukas-bednar @nellyc can we just remove the parts for openshift and kubernetes deployment from this playbook?

This would fix this bug.

[2018-12-06 12:55] #506 closed

[2018-12-10 09:55] duyanyan commented on #509
The cluster and platform var are not defined as well after solving the deploy_ovs_plugin. I think it is better to run some checking config script and then defined the vars at the beginning.

The conditional check 'network_role == 'network-multus' and deploy_ovs_plugin and cluster == "kubernetes"' failed. The error was: error while evaluating conditional (network_role == 'network-multus' and deploy

[2018-12-10 14:56] #477 closed

[2018-12-11 06:45] duyanyan commented on #509
@leongold Cool! Your PR works and added a comment on your PR.

[2018-12-11 07:43] leongold commented on #509
@duyanyan Thank you, made the changes as you specified

[2018-12-11 10:44] duyanyan opened #516 "The sriov-device-plugin pod keeps restarting and then goes to CrashLoopBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
# oc get pod
NAME                                                  READY     STATUS             RESTARTS   AGE
kube-sriov-cni-amd64-625f2                            1/1       Running            0          22m
kube-sriov-device-plugin-amd64-pxfpf                  0/1       CrashLoopBackOff   9          22m

# oc logs kube-sriov-devic

[2018-12-11 14:03] SchSeba commented on #516
@booxter Can you please take a look?

[2018-12-11 15:09] booxter commented on #516
/assign booxter

[2018-12-11 15:10] booxter commented on #516
@duyanyan this is the part of SR-IOV deployment that should have created the missing configuration file: https://github.com/kubevirt/kubevirt-ansible/commit/ea1b146bd19c1f4bc217f8225e2820b8b0e63a04#diff-5140a58103127f4a4f9686135d5f7039 As you can see, it is supposed to be executed for all nodes. Could you please share how you deploy the cluster? Specifically, I am interested in command line you us

[2018-12-12 02:05] duyanyan commented on #516
Actually I just use the cmd `ansible-playbook -i inventory -e apb_action=provision playbooks/kubevirt.yml` to deploy in a fresh openshift env. Here is my [inventory file ](https://paste.fedoraproject.org/paste/-2WcdLF4-yetLXOwaPf4Pg)

[2018-12-12 02:13] booxter commented on #516
@duyanyan do you see the following tasks executed? https://github.com/kubevirt/kubevirt-ansible/blob/902618c1ff9a6bb57d29ab2a4944673e6d02776f/playbooks/kubevirt.yml#L27 If possible, please also share your command output for ```ansible-playbook```.

[2018-12-12 02:20] duyanyan commented on #516
@booxter I'm afraid that I didn't preserve the env yesterday, and it is already shutdown now. Let me setup a new env to show you more detail information.

[2018-12-12 03:44] duyanyan commented on #516
@booxter please refer to the [log](https://paste.fedoraproject.org/paste/KF7aKT5wy7WRPrepbEfUFA)

[2018-12-12 11:40] bmeng commented on #516
[code]

Looks like the mount path of the /etc/pcidp/config.json is incorrect. Which is copied from https://github.com/intel/sriov-network-device-plugin/blob/8ca5c9b795468ec13ecf7e8b6c30b887b91f72b5/images/sriovdp-daemonset.yaml
Should use `mountPath: /etc/pcidp` and `path: /etc/pcidp` without the file name `config.json`

[2018-12-12 13:47] duyanyan commented on #516
And I found the config.json is a directory instead of a file.
[code]

[2018-12-12 13:53] lukas-bednar commented on #503
@fabiand These playbooks are used by std-ci to perform testing. But I guess we could move these playbook under `automation/` directory at least and remove it from documentation.

[2018-12-12 15:01] booxter commented on #516
@bmeng full file path (and not just directory) should work, the only difference between two is that when you share a file and not its directory then updates to the file happening outside the container are not reflected inside of it (and vice versa), which I don't think is an issue for the way device plugin works (it loads config file on startup and never refreshes / updates it).

[2018-12-12 15:03] booxter commented on #516
@duyanyan I think the reason why ```config.json``` is a directory is because if a host file mounted into a container doesn't exist, container runtime creates the mounted path on the host as a directory. So the fact that you see the ```config.json``` directory on your host is just a result of ansible playbook not creating the ```/etc/pcidp/config.json``` file before it created the SR-IOV device plu

[2018-12-12 15:15] booxter commented on #516
Here is the section of ```ansible-playbook``` log that corresponds to the tasks that are supposed to create the configuration files on all nodes:

[code]

This is the only host that got these tasks executed against it. Perhaps other nodes were not configured for SR-IOV device plugin for some reason.

As per shared ```inventory``` file, these are the nodes:

[code]

@duyanyan names of the nodes in

[2018-12-12 15:52] duyanyan commented on #516
Oh, there are different envs, let me attach the new env's [inventory file] (http://pastebin.test.redhat.com/682962) for you @booxter

[2018-12-12 17:07] booxter commented on #516
The weird thing about this issue is that we know for sure that OpenShift deployment using this same playbook works on a multinode cluster. We know it because the PR that enabled SR-IOV deployment successfully passed CI that runs such a job.

[2018-12-12 19:04] booxter commented on #516
Here is how the same tasks section looks like in our CI:

[code]

(snippet from https://jenkins.ovirt.org/job/kubevirt_kubevirt-ansible_standard-check-pr/2001//artifact/check-patch.openshift_3-10.el7.x86_64/mock_logs/script/stdout_stderr.log)

Notice it's executed for each of configured nodes. I can't find ```inventory``` file in test job artefacts so it's hard to say if the job is doing something

[2018-12-12 19:11] booxter commented on #516
@duyanyan when trying it out the next time, please also add ```-vvv``` or even ```-vvvv``` arguments to ```ansible-playbook``` command line. I think verbose mode may reveal some hidden issues with parsing the ```inventory``` file that makes it skip some nodes from ```[nodes]``` section.

[2018-12-12 19:24] booxter commented on #516
I have a hypothesis why the ```nodes``` section that configures the SR-IOV device plugin is not executed for all nodes listed in the ```inventory``` file.

Here is a quote from ```Ansible``` documentation explaining how playbooks with multiple plays behave when a failure in one of plays is encountered:

(quoting from https://docs.ansible.com/ansible/latest/user_guide/playbooks_intro.html)

[code]

[2018-12-13 09:03] fabiand commented on #503
In general: With a company hat on, we just need to make sure that the
playbooks mimic what a user does if he follows the documented steps.
Otherwise we create a QE specific deployment path which does not tell us
what a user does.

For this paritcular bug: We need to clarify on this repository if this
inteded for production or not.
This bug would be an issue if you'd use this script for deployment

[2018-12-21 20:42] #96 closed

[2018-12-21 20:42] #146 closed

[2018-12-27 08:45] nellyc commented on #368
@shiywang can we close this issue?

[2018-12-27 12:42] #336 closed

[2019-01-01 10:11] #368 closed

[2019-01-02 15:59] nellyc opened #532 "Add featuregates to support 0.12 functionality"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
We need to add some featuregates
live migration, cpu manager

**What you expected to happen**:
feature gates enabled

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- kubevirt-ansible version(use `git rev-parse HEAD`):
should be on master an

[2019-01-03 08:50] duyanyan opened #534 "sriov-cni and sriovdp deprovision support"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**What happened**:
sriov-cni and sriovdp are installed by default when using `ansible-playbook -i inventory playbooks/network.yml -e@vars/all.yml -e apb_action=provision`

but can't be uninstalled by `ansible-playbook -i inventory playbooks/network.yml -e@vars/all.yml -e apb_action=deprovision`

**What you expected to happen**:
sriov-c

[2019-01-03 08:52] myakove commented on #532
added in https://github.com/kubevirt/kubevirt-ansible/pull/533

[2019-01-09 05:26] #509 closed, assigned to nobody

[2019-01-13 10:09] SchSeba commented on #396
/remove-lifecycle stale

[2019-01-13 10:10] SchSeba commented on #396
@myakove can we can close this issue?
related to https://github.com/kubevirt/kubevirt-ansible/pull/526

[2019-01-17 17:58] #360 closed

[2019-01-17 20:22] rwsu opened #568 "Create CDI deployment task fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When using kubevirt role, the "Create CDI deployment" task fails.

[code]
**What you expected to happen**:

Task should not fail.

**How to reproduce it (as minimally and precisely as possible)**:

sudo ansible-playbook playbooks/kubevirt.yml -e@vars/all.yml -e cluster=kubernetes --connection=local -i inventory

**Anythin

[2019-01-18 18:43] rthallisey opened #575 "CI failing on rbac test for view being able to use subresource"
CI will fail on an rbac test after https://github.com/kubevirt/kubevirt-ansible/pull/556 merges.  I can confirm locally, that it's not affecting functionality so it's not going to block the release.  However, we do want to fix the regression, so we'll follow up with a fix tracked in this issue and do another release in a few days.

Relevant code: https://github.com/kubevirt/kubevirt-ansible/blob/m

[2019-01-25 14:11] #322 closed

[2019-01-28 06:55] qwang1 opened #589 ""Version" on CDI main.yaml"
Hi,

From https://github.com/kubevirt/kubevirt-ansible/blob/master/roles/cdi/defaults/main.yml

cdi_release_tag: "v1.5.1"
version: "1.4.0"

I was wondering, where the "version" is used? Is it kubevirt version?

Thanks.

[2019-01-28 10:37] #370 closed

[2019-02-06 06:38] kbidarkar commented on #532
@nellyc, the needed changes are added from 0.12, so can we close this now?

[2019-02-06 06:49] kbidarkar commented on #589
@qwang1, git blame shows, brought in by me and I did not touch that part, maybe got in while resolving git conflicts. Me looking.

[2019-02-06 07:00] kbidarkar commented on #589
So, I thought it was me, but realized  I was just updating kubevirt versions. :)

This will be a question for @tiraboschi, he can help about it I think.

[2019-02-06 13:23] #532 closed

[2019-02-09 12:56] #385 closed

[2019-02-13 13:41] #381 closed

[2019-03-02 09:52] miminar opened #607 "hardcoded kubevirt namespace"
/kind bug

**What happened**:

Playbook failed with the following error:

[code]

**What you expected to happen**:

Successful installation

**How to reproduce it (as minimally and precisely as possible)**:

* clone the repository
* `git checkout release-0.12`
* run:

        ansible-playbook -i hosts \
            -e cluster=k8s \
            -e storage_role=glusterfs-storage \
            -e nam

[2019-03-04 15:35] #260 closed

[2019-03-07 03:40] #382 closed

[2019-03-13 08:22] duyanyan opened #613 "virt-operator pod failed to start due to the error 'netplugin failed but error parsing its diagnostic message "": unexpected end of JSON input'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
**What you expected to happen**:
kubevirt deploy successfully

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kubevirt by kubevirt-ansible on a fresh OCP env.
`# ansible-playbook -i inventory playbooks/kubevirt.yml -e@vars/all.yml`

**Anything else we need to know?**:

**Environment**:
- kubevirt-ans

[2019-03-14 06:30] myakove commented on #613
@SchSeba can you please look at this?

[2019-03-14 08:03] SchSeba commented on #613
hi @myakove I have the same problem I was looking into that I still don't have a clear answer

[2019-03-14 12:07] SchSeba commented on #613
related https://github.com/intel/multus-cni/issues/281

[2019-03-14 13:10] SchSeba commented on #613
Hi @myakove @duyanyan can you please try to use this images.

change `roles/network-multus/defaults/main.yml`

[code]

[code]

and  change the yaml

roles/network-multus/templates/multus.yml

[code]

[code]

and retry to deploy I think there is a bug in the latest snapshot release they make.

[2019-03-14 15:28] SchSeba commented on #613
know issue on multus here is the fix
https://github.com/intel/multus-cni/pull/283

[2019-03-15 06:23] duyanyan commented on #613
kubevirt deployed successfully with the workaround you mentioned above. Thanks @SchSeba

[2019-03-20 11:40] jparrill opened #614 "Support for Openshift 4"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When you try to deploy kubevirt, cdi and multus using kubevirt-ansible fails on a openshift 4 (mainly because multus is already deployed)

**What you expected to happen**:
Install just the plugins selected and continue with the installation

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy OCP4
2

[2019-03-24 11:05] #394 closed

[2019-03-25 12:30] gbenhaim commented on #613
@SchSeba this issue affects PR sent to kubevirt-ansible, can you please send a PR with the workaround?

[2019-03-26 11:06] #429 closed

[2019-03-27 09:59] SchSeba commented on #613
Hi @gbenhaim no need for workaround the PR in multus was merge and a new image was released.

I think we can close this issue.

[2019-04-04 11:08] #327 closed

[2019-04-10 16:22] #454 closed

[2019-04-26 07:46] #485 closed

[2019-04-28 18:47] #494 closed

[2019-04-28 20:47] #455 closed

[2019-04-28 20:47] #458 closed

[2019-05-02 16:49] #472 closed

[2019-05-02 16:49] #470 closed

[2019-05-05 09:49] #508 closed

[2019-05-12 11:21] #503 closed

[2019-06-06 03:56] #534 closed

[2019-06-12 11:25] #396 closed

[2019-06-16 22:10] #568 closed

[2019-06-17 20:32] #575 closed

[2019-07-30 11:55] #607 closed

[2019-08-24 11:51] #613 closed

[2019-09-04 10:09] #589 closed

[2019-11-15 13:30] #614 closed

[2022-08-03 18:19] navarrothiago commented on #343
In my case, I noticed that there were two ginkgo module (v1 and v2) defined inside my go.mod. So, two init function for each ginkgo package have been called. For some reason, I messed with these files. After leaving just one version, it worked.